<ul>
  <li><%= link_to item.title, catalog_path(item) %> <%= button_to t('dri.views.collection.buttons.remove'), {:controller => :collection_items, :action => 'delete', :id => item.id, :collection_id => collection_id }, :method => :delete %> </li>
</ul>
