<ul>
  <li><%= link_to item.title, catalog_path(item) %> <%= link_to t('dri.views.collections.links.remove'), {:controller => :relationships, :action => :delete, :id => item.pid, :collection_id => collection_id} %> </li>
</ul>
