<ul>
  <li><%= link_to item.title, catalog_path(item), :id => item.id %> <%= button_to t('dri.views.collection.buttons.remove'), {:controller => :collection_items, :action => :destroy, :id => item.id, :collection_id => collection_id }, :method => :delete, :id => "remove_#{item.id}" %> </li>
</ul>
