<div id="content" class="span9 show-document">
<div id="document">
<div class="document">
<h2><%= t('dri.views.objects.edit.title') %></h2>

<%= form_for @collection, :url => {:controller=>"collections", :action=>"update"}, :method=>"put", :html => {:class => 'form-vertical'} do |f| %>

  <%= render :partial => "form_collection", :locals => { :f => f } %>  

<%= f.submit t('dri.views.objects.buttons.save'), :class => "btn-primary btn-large", :id => "edit_collection" %>

<% end %>

</div>
</div>
</div>
