<% if current_or_guest_user %>
	<div class="dri_bookmark_tool">
		<label class="dri_bookmark">
			<span class="dri_bookmark_object_label dri_float_left toggle-bookmark">
				<% if local_assigns[:document][Solrizer.solr_name('object_type', :displayable, type: :string).to_sym].first == 'Collection' %>
					<%= t('dri.views.catalog.forms.bookmark_collection') %>
				<% else %>
					<%= t('dri.views.catalog.forms.bookmark_object') %>
				<% end %>
			</span>
			<%= render Blacklight::Document::BookmarkComponent.new(document: document, action: Blacklight::Configuration::ToolConfig.new) %>
		</label>
	</div>
<% end %>
