<%- # local params:
    # label 
    # value
    # options =>
    #   :remove => url for a remove constraint link
    #   :classes => array of classes to add to container span
    options ||= {}
    options[:escape_label] = true unless options.has_key?(:escape_label)
    options[:escape_value] = true unless options.has_key?(:escape_value)
-%>
  
<li><span class="search_mini_icon"></span><%= options[:escape_value] ? h(value) : raw(value) %> <%= link_to("x", options[:remove], :class => "remove") %> </li>

