<% if @previous_document || @next_document %>

<div id="dri_pagination_nav_id" class="dri_doc_pagination">
	<span class="dri_pagination_label">Browse</span>
	<div class="dri_doc_pagination_links">
		<%if @previous_document %>
		<span aria-label="Previous" class="previous"><%= link_to_previous_document @previous_document %></span>
		<% end %>
		<span class="position" aria-label="Position">&nbsp;<%= link_back_to_catalog(:label => item_page_entry_info, :'data-toggle' => "tooltip", :'data-placement' => "top", :'title' => "Go back to Search") %>&nbsp;</span>
		<%if @next_document %>
		<span aria-label="Next" class="next"><%= link_to_next_document @next_document %></span>
		<% end %>
	</div>
</div>

<% end %>