<% @component = Blacklight::SearchContextComponent.new(search_context: @search_context, search_session: search_session) %>

<% if @component.render? %>
	<div id="dri_pagination_nav_id" class="dri_doc_pagination">
		<span class="dri_pagination_label"><%= t('dri.views.pagination.label') %></span>
		<div class="dri_doc_pagination_links">
			<%if @search_context[:prev] %>
			  	<span aria-label="Previous" class="previous" aria-label="Previous">
					<%= link_to_previous_document(@search_context[:prev], 'aria-label' => 'previous item') %>	
				</span>
			<% end %>
			<span class="position" aria-label="Position" aria-label="current">
				&nbsp;<%= item_page_entry_info %>&nbsp;
			</span>
			<%if @search_context[:next] %>
			  	<span aria-label="Next page" class="next" aria-label="Next">
					<%= link_to_next_document(@search_context[:next], 'aria-label' => 'Next item') %>	
				</span>
			<% end %>
		</div>
	</div>
<% end %>
