<div class="error_page">
  <main class="dialog" role="main">
    <h1 aria-live="assertive"><%= t('dri.server_error.404_error')%></h1>
    <h1 aria-live="assertive"><%= t('dri.server_error.404_message')%></h1>
    <p><%= t('dri.server_error.404_explanation')%></p>
  </main>
</div>