<body class="error_page">
  <main class="dialog" role="main">
    <h1 aria-live="assertive"><%= t('dri.server_error.422_error') %></h1>
    <h1 aria-live="assertive"><%= t('dri.server_error.422_message') %></h1>
    <p><%= t('dri.server_error.422_explanation') %></p>
  </main>
</body>