<div id="dri_result_container_id" class="dri_result_container">
  <%- if current_or_guest_user.blank? -%>

      <h2><%= t('dri.views.catalog.legends.request_permission_not_logged_in') %></h2>

  <%- elsif @document_list.blank? -%>

      <h3><%= t('dri.views.catalog.legends.no_bookmarks') %></h3>
  <% else %>

      <%= render_document_index %>

  <% end %>
</div>


