<h1>Administrator Tasks</h1>

<% if signed_in? && current_user.is_admin? %>
<ul>
  <li><%= link_to t('dri.headerlinks.resque'), main_app.resque_server_path, :id => "resque" %></li>
  <li><%= link_to t('dri.views.static.admin.licences'), main_app.licences_path, :id => "licences" %></li>
  <li><%= link_to t('user_groups.views.header.admin'), user_group.admin_path %></li>
</ul>
<% end %>
