<h1>Digital Repository of Ireland Privacy Policy & Cookie Usage</h1>

<p><font color=red>
This text is copied from <a href="http://dri.ie/privacy-statement">http://dri.ie/privacy-statement</a> with some additions (highlighted in red) which relate directly to the application's use of cookies and information.
</font></p>

<p>
The Digital Repository of Ireland operates in compliance with the Data Protection Acts 1988 and 2003 in terms of the collection and use of personal data made available to it via this website.
</p>

<h2>Information we collect</h2>
<p>
<ul>
<li>Information about your use of our site including details of your visits such as pages viewed and the resources that you access. Such information includes traffic data, location data and other communication data.</li>
<li>Information provided voluntarily by you. <font color=red>For example, when you create an account or update your profile.</font></li>
<li>Information that you provide when you communicate with us by any means.</li>
</ul>
</p>

<h2>Use of cookies</h2>
<p>
A cookie is a small piece of information which a web site stores through the web browser on your PC that it can later retrieve when you log back on to the website. This means that the web site will remember your preferences and possibly even your name!
</p>
<p>
We may gather information about your general internet use by using the cookie. Where used, these cookies are downloaded to your computer and stored on the computer’s hard drive. Such information will not identify you personally. It is statistical data. This statistical data does not identify any personal details whatsoever
</p>
<p>
You can adjust the settings on your computer to decline any cookies if you wish. This can easily be done by activating the reject cookies setting on your computer. 
</p>
<p>
We may use Google Analytics to analyse the use of this website. Google Analytics generates statistical and other information about website use by means of cookies, which are stored on users' computers. The information generated relating to our website is used to create reports about the use of the website. Google will store this information. Google's privacy policy is available at: www.google.com/intl/en/privacy/
</p> 

<font color=red>
<h3>The Digital Repository of Ireland uses cookies in a number of places.</h3>
<p>
When you first visit DRI, you will see a message informing you about cookies. If you click the 'Accept and hide message' button, DRI will set a cookie which records your preference.
</p>
<p>
If you create an account and log in the site will set a session cookie to store
authentication information.
</p>
<p>
Certain functionality in this site, such as ingest or editing digital resources,
may store state information in a cookie in order to track your progress and store
partial information before final submission to the server.
</p>
<p>
If you do not wish to accept cookies from this site
you should turn off cookies in your browser preferences for this website. You can find information about how to block,
control and delete cookies in various browsers at <a href="http://aboutcookies.org/">aboutcookies.org</a>.
</p>

<p>
Please note that as some of the cookies set by DRI are required in order to control access to the digital
resources of DRI, by disabling cookies you will be unable to create an account on DRI or log in. This will limit
you to guest access and may mean that you cannot gain access to some digital resources.
</p>
</font>




<h2>Use of your information</h2>
<p>
We use the information that we collect from you to provide our services to you. In addition to this we may use the information for one or more of the following purposes:
</p>
<p>
<ul>
<li>to provide information to you that you request from us relating to our products or services.</li>
<li>to provide information to you relating to other products that may be of interest to you. Such additional information will only be provided where you have consented to receive such information.</li>
<li>to inform you of any changes to our website, services or goods and products.</li>
<li>send statements and invoices to you, and colect payments from you</li>
<li>send you email notifications which you have specifically requested such as newsletters and other marketing communications relating to the <font color=red>Academy</font></li>
<li>deal with enquiries and complaints made by you relating to the website.</li>
</ul>
</p>

<h2>Disclosing Your Information</h2>
<p>
We will not disclose your personal information to any other party other than in accordance with this Privacy Policy and in the circumstances detailed below:
</p>
<p>
<ul>
<li>where we are legally required by law to disclose your personal information.</li>
<li>we have received authorisation from you so to do</li>
</ul>
</p>

<h2>Security of your personal data</h2>
<p>
We will take reasonable technical and organisational precautions to prevent the loss, misuse or alteration of your personal information.
</p>
<p>
Of course, data transmission over the internet is inherently insecure, and we cannot guarantee the security of data sent over the internet.
</p>
<p>
If you have a user account you are responsible for keeping your password and user details confidential.
</p>
 

<h2>Third party websites</h2>
<p>
The website contains links to other websites. We are not responsible for the privacy policies or practices of third party websites.
</p>

<h2>Updating information</h2>
<p>
Please let us know if the personal information which we hold about you needs to be corrected or updated.
</p> 

<h2>Contact</h2>
<p>
If you have any questions about this privacy policy or our treatment of your personal information, please email us at <a href="mailto:dri@ria.ie">dri@ria.ie</a>
</p>


