<h1>My Workspace</h1>

<% if current_user %>
<ul>
  <li><%= link_to t('dri.application.views.static.workspace.account'), user_group.user_path(current_user), :id => "view_account" %></li>
  <li><%= link_to t('blacklight.header_links.bookmarks'), bookmarks_path %></li>
  <li><%= link_to t('blacklight.header_links.search_history'), search_history_path %></li>
  <li><%= link_to t('blacklight.header_links.saved_searches'), saved_searches_path %></li>
</ul>
<% end %>
