<li><%= link_to t('dri.headerlinks.usergroups'), user_group_path, :id=>"usergroup" %>
  <% if signed_in? %>
    <ul class="navb first">
      <li><%= link_to (t :'user_groups.views.shared.groups'), user_group.groups_path %></li>
      <li><%= link_to (t :'user_groups.views.shared.users'), user_group.users_path %></li>
    </ul>
  <% end %>
</li>