<div id="sidebar" class="span3">
  <%= render :partial=>'catalog/facets' %>
</div>
<div class="row">


  <div id="content" class="span9 show-document">
   <%= render :template => 'catalog/_previous_next_doc' %>
   <fieldset id="metadata">
     <legend>Metadata</legend>
   </fieldset>
  </div>
</div>

