<div class='panel panel-default' id='advanced-help'>
  <div class="panel-heading dri_head_title">
    <a data-toggle="collapse" href="#help-panel-collapse" aria-expanded="false" aria-controls="Collapse Help Panel">
      <%= t("blacklight.advanced_search.form.tips_title") %>
      <span class="caret"></span>
    </a>
  </div>
  <div class="panel-body collapse in" id="help-panel-collapse">
    <ul class="advanced-help">
      <% %w[match_all match_any keywords quotes plus minus boolean].each do |key| %>
        <li><%= t("blacklight.advanced_search.tips.#{key}") %></li>
      <% end %>
   </ul>
  </div>
</div>
