<div class='panel panel-default' id='advanced-help'>
  <div class="panel-heading">
    <%= t("blacklight.advanced_search.form.tips_title") %>
  </div>
  <div class="panel-body">
    <ul class="advanced-help">
      <% %w[match_all match_any keywords quotes plus minus boolean].each do |key| %>
        <li><%= t("blacklight.advanced_search.tips.#{key}") %></li>
      <% end %>
   </ul>
  </div>
</div>
