<div class="modal fade" id="dri_advanced_search_modal_id">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
          &times;
        </button>
        <h4 class="modal-title">
          <%= t('dri.views.objects.buttons.advanced_search') %>
        </h4>
      </div>

      <div class="modal-body">
        <%= render 'advanced/dri_search_fields' %>
        <hr>
        <%= render 'advanced/dri_submit_buttons' %>
      </div>
    </div>
  </div>
</div>

<%= link_to t('dri.views.objects.buttons.advanced_search'), '', :'data-target' => '#dri_advanced_search_modal_id', :'data-toggle' => 'modal', class: 'btn', id: 'advanced_search' %>
