<div class="input-criteria">
  <div class="query-criteria">
    <p class="query-criteria-heading" label="select">
      <%= t('blacklight.advanced_search.form.query_criteria_heading_html', select_menu: select_menu_for_field_operator) %>
    </p>
    <div id="advanced_search">
      <%= render 'advanced/advanced_search_fields' %>
    </div>
  </div>
</div>
