<div class="advanced-submit-buttons clearfix">
  <div class='submit-buttons pull-right'>
    <%= hidden_field_tag(:search_field, blacklight_config.advanced_search[:url_key]) %>

    <%= link_to(
          t('blacklight.search.form.start_over'),
          '#',
          onclick: "clearAdvancedForm('#dri_advanced_search_modal_id')",
          class: 'dri_button_black btn-default advanced-search-start-over dri_help_popover_slow',
          'data-bs-content': t('dri.help.advanced_search.start_over'),
          'data-bs-title': t('dri.help.advanced_search.start_over_title'),
          'data-bs-placement': 'left',
          'data-bs-trigger': 'hover') %>

    <%= submit_tag(
          t('blacklight.search.form.search'),
          class: 'dri_button_black btn-default advanced-search-submit dri_help_popover_slow',
          id: 'advanced-search-submit',
          'data-bs-content': t('dri.help.advanced_search.search'),
         'data-bs-title': t('dri.help.advanced_search.search_title'),
          'data-bs-placement': 'left',
          'data-bs-trigger': 'hover') %>
  </div>
</div>
