<% @page_title = "#{application_name} More Search Options" %>

<%#
    TODO: add way to load browse tabs without reloading page on change.
    conditional ajax? want page to reload when viewing search results
    don't want it to reload on advanced search form since it clears form input
%>
<%= render 'advanced/dri/browse_mode_swap_no_reload' %>

<div class="advanced-search-form col-sm-12">
    <div class="row">
        <%= render 'advanced_search_form' %>
    </div>
</div>
