<div id="viewer">
  <%= content_tag(:iframe, '', src: "#{Settings.iiif.server}?id=#{@object.id}", 
                   width: '100%', height: '680px', frameborder: 0, 
                   allowfullscreen: true, webkitallowfullscreen: true, 
                   mozallowfullscreen: true) %>
</div>
