<div id="viewer">
  <script type="text/javascript" id="embedUV" src="/universalviewer/dist/uv-1.8.27/lib/embed.js"></script>
  <div class="uv" style="height:100%" data-config="/universalviewer/dist/uv-1.8.27/config.json" data-uri="<%= iiif_manifest_path(@object.id, format: :json) %>"></div>
</div>