/* CSS Document */
/* line 4, ../../sass/dri/containers.scss */
.dri_line {
  width: 1024px;
  margin: 0;
  padding: 0px;
}

/* line 10, ../../sass/dri/containers.scss */
.size_0 {
  width: 984px;
  float: left;
  margin: 0;
  padding: 0 20px 0 20px;
}

/* line 16, ../../sass/dri/containers.scss */
.size_01 {
  margin: 0 20px 20px 0;
  padding: 0;
  width: 228px;
  float: left;
  display: block;
  color: #2F2F2F;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #E1E1E1;
  position: relative;
}

/* line 29, ../../sass/dri/containers.scss */
.size_01.top {
  border-top: 5px solid #E1E1E1;
}

/* line 33, ../../sass/dri/containers.scss */
.size_01.last {
  margin: 0 0 20px 0;
}

/* line 37, ../../sass/dri/containers.scss */
.size_01.refine {
  float: right;
  box-shadow: 1px 2px 6px  #E3E3E3;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

/* line 43, ../../sass/dri/containers.scss */
.size_01 .high_view {
  background: url('../../images/high_view_icon.png?1385377389') no-repeat;
  position: absolute;
  left: 185px;
  top: -6px;
  display: block;
  height: 50px;
  width: 32px;
  z-index: 99;
}

/* ----------- Collection block ---------- */
/* line 56, ../../sass/dri/containers.scss */
.content_block_wrap {
  width: 730px;
  margin: 0 20px 0 20px;
  float: left;
  padding: 0;
}

/* line 62, ../../sass/dri/containers.scss */
.dri_content_block {
  margin: 0 20px 20px 0;
  padding: 0;
  width: 228px;
  float: left;
  display: block;
  color: #2F2F2F;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #E1E1E1;
  position: relative;
}

/* line 76, ../../sass/dri/containers.scss */
.dri_content_block.top {
  border-top: 5px solid #E1E1E1;
}

/* line 79, ../../sass/dri/containers.scss */
.dri_content_block.last {
  margin: 0 0 20px 0;
}

/* line 83, ../../sass/dri/containers.scss */
.dri_content_block .dri_high_view {
  background: url('../../images/high_view_icon.png?1385377389') no-repeat;
}

/* line 88, ../../sass/dri/containers.scss */
.dri_content_block h1 {
  color: #2F2F2F;
  font-size: 110%;
  padding: 0;
  margin: 10px 14px 20px 14px;
  height: 35px;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* line 98, ../../sass/dri/containers.scss */
.dri_content_block h1 a {
  color: #2F2F2F;
  text-decoration: none;
}

/* line 102, ../../sass/dri/containers.scss */
.dri_content_block a:hover h1 {
  text-decoration: underline;
}

/* line 106, ../../sass/dri/containers.scss */
.dri_content_block h2 {
  color: #2F2F2F;
  font-size: 100%;
  padding: 0;
  margin: 4px 14px 4px 14px;
  font-weight: normal;
}

/* line 113, ../../sass/dri/containers.scss */
.dri_content_block h2 a {
  color: #2F2F2F;
}

/* line 116, ../../sass/dri/containers.scss */
.dri_content_block h2 a:hover {
  text-decoration: underline;
}

/* line 120, ../../sass/dri/containers.scss */
.dri_content_block h2.dri_editor {
  color: #808080;
  line-height: 1.4em;
  display: block;
  height: 36px;
  white-space: wrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* line 130, ../../sass/dri/containers.scss */
.dri_content_block h2.dri_editor a {
  color: #808080;
}

/* line 133, ../../sass/dri/containers.scss */
.dri_content_block h2.dri_editor a:hover {
  text-decoration: none;
}

/* line 136, ../../sass/dri/containers.scss */
.dri_content_block p {
  color: #2F2F2F;
  font-size: 100%;
  padding: 0;
  margin: 10px 10px 10px 10px;
}

/* line 143, ../../sass/dri/containers.scss */
.dri_image {
  padding: 0;
  margin: 0 14px 0 14px;
}

/* line 148, ../../sass/dri/containers.scss */
.dri_content_block .dri_stats {
  color: #808080;
  line-height: 1.4em;
  display: block;
  height: 26px;
  margin: 4px 14px 4px 14px;
  border-top: 1px solid #E1E1E1;
  padding: 4px 0 0 0;
}

/* line 157, ../../sass/dri/containers.scss */
.dri_content_block .dri_stats span.dri_object_num {
  color: #fff;
  display: block;
  height: 20px;
  width: 42px;
  padding: 3px 0 0 6px;
  margin: 0 8px 0 0;
  float: left;
  background: url('../../images/object_back.png?1385377389') no-repeat;
}

/* line 167, ../../sass/dri/containers.scss */
.dri_content_block .stats span.dri_object_num a {
  color: #fff;
}

/* line 170, ../../sass/dri/containers.scss */
.dri_content_block .stats span.dri_object_num a:hover {
  text-decoration: underline;
}

/* line 174, ../../sass/dri/containers.scss */
.dri_content_block .dri_stats span.dri_view {
  margin: 4px 8px 0 0;
  display: block;
  height: 20px;
  padding: 3px 0 0 0;
  margin: 0 10px 0 0;
  float: left;
}

/* line 182, ../../sass/dri/containers.scss */
.dri_content_block .dri_stats span.dri_like {
  margin: 4px 8px 0 0;
  display: block;
  height: 20px;
  padding: 1px 0 0 0;
  margin: 0 10px 0 0;
  float: left;
}

/* line 190, ../../sass/dri/containers.scss */
.dri_content_block .dri_stats span.dri_comment {
  margin: 4px 8px 0 0;
  display: block;
  height: 20px;
  padding: 0;
  margin: 0 10px 0 0;
  float: left;
}

/* ----------- Pagination ---------- */
/* line 199, ../../sass/dri/containers.scss */
.dri_pagination {
  width: 984px;
  height: 30px;
  margin: 0 0 10px 0;
  padding: 0 20px 0 20px;
  float: left;
}

/* line 207, ../../sass/dri/containers.scss */
ul.dri_paging {
  height: 30px;
  margin: 3px 0 0 0;
  padding: 0 5px 0 0;
  float: right;
}

/* line 214, ../../sass/dri/containers.scss */
ul.dri_paging li {
  float: left;
  list-style: none;
  display: block;
  padding: 0;
}

/* line 221, ../../sass/dri/containers.scss */
ul.dri_paging li a {
  float: left;
  list-style: none;
  display: block;
  padding: 2px 10px 2px 10px;
  color: #FFFFFF;
  background-color: #6D6E71;
  margin-right: 4px;
}

/* line 230, ../../sass/dri/containers.scss */
ul.dri_paging li a:hover {
  text-decoration: underline;
}

/* line 233, ../../sass/dri/containers.scss */
ul.dri_paging li.prev_arrow a {
  background: url('../../images/prev_arrow.png?1385377389') no-repeat center;
  background-color: none;
}

/* line 237, ../../sass/dri/containers.scss */
ul.dri_paging li.next_arrow a {
  background: url('../../images/next_arrow.png?1385377389') no-repeat center;
  background-color: none;
}

/* line 242, ../../sass/dri/containers.scss */
ul.dri_paging li.selected a {
  background-color: #B3B3B3;
  color: #FFF;
}

/* line 247, ../../sass/dri/containers.scss */
ul.dri_paging li.next_num a {
  background-color: #2F2F2F;
  color: #FFF;
}

/* ----------- Filter List Block ---------- */
/* ----------- Search Facet Filters ---------- */
/* line 257, ../../sass/dri/containers.scss */
.dri_facet_filters_block {
  width: 225px;
  border: 1px solid #E1E1E1;
  box-shadow: 1px 2px 6px  #E3E3E3;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

/* line 268, ../../sass/dri/containers.scss */
.dri_facet_filters_block.top {
  border-top: 5px solid #E1E1E1;
}

/* line 271, ../../sass/dri/containers.scss */
.dri_facet_filters_block.last {
  margin: 0 0 20px 0;
}

/* line 276, ../../sass/dri/containers.scss */
.dri_facet_filters ul.filter {
  padding: 0;
  margin: 0;
}

/* line 281, ../../sass/dri/containers.scss */
.dri_facet_title {
  padding: 0 0 0 15px;
  margin: 0;
}

/* line 286, ../../sass/dri/containers.scss */
.dri_facet_title h5:first-child {
  font-size: 110%;
  color: #2F2F2F;
  text-decoration: none;
}

/* line 292, ../../sass/dri/containers.scss */
.dri_facet_filters {
  width: 225px;
  margin: 10px -10px -20px -10px;
}

/* line 298, ../../sass/dri/containers.scss */
.dri_facet_filters .filter li.title {
  color: #2F2F2F;
  font-size: 110%;
  font-weight: bold;
  padding: 12px 15px 12px 15px;
  margin: 0;
  float: left;
  list-style: none;
  text-decoration: none;
  display: block;
  width: 200px;
}

/* line 310, ../../sass/dri/containers.scss */
.dri_facet_filters ul.filter li.title span.search_num {
  font-size: 100%;
  padding: 0;
  margin: 0;
  float: right;
  align: top;
}

/* line 318, ../../sass/dri/containers.scss */
.dri_search_num {
  font-size: 100%;
  padding: 0;
  margin: 0;
  float: right;
  align: top;
  color: #808080;
}

/* line 326, ../../sass/dri/containers.scss */
.dri_facet_filters ul.filter li.title span.search_num a {
  color: #B3B3B3;
}

/* line 329, ../../sass/dri/containers.scss */
.dri_facet_filters ul.filter li.title span.search_num a:hover {
  text-decoration: underline;
}

/* line 332, ../../sass/dri/containers.scss */
.dri_facet_filters ul.filter_list {
  padding: 0;
  margin: 0;
}

/* line 336, ../../sass/dri/containers.scss */
.dri_facet_filters ul.filter_list li {
  font-size: 106%;
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
}

/* line 344, ../../sass/dri/containers.scss */
.dri_facet_filters h4:first-child {
  color: #2F2F2F;
  padding: 4px 15px 14px 15px;
  margin: 0;
  border-bottom: 1px solid #E1E1E1;
  width: 100%;
  font-size: 110%;
}

/* line 354, ../../sass/dri/containers.scss */
.dri_facet_filters ul.filter_list li a:hover {
  text-decoration: underline;
}

/* line 358, ../../sass/dri/containers.scss */
.dri_facet_filters ul.filter_list li a span.filter_arrow_down {
  float: right;
  width: 14px;
  height: 12px;
  display: block;
}

/* line 365, ../../sass/dri/containers.scss */
.dri_facet_filters ul.filter_list li a span.filter_arrow_up {
  float: right;
  width: 12px;
  height: 14px;
  display: block;
}

/* line 372, ../../sass/dri/containers.scss */
.dri_facet_filters ul.filter_list_sub {
  margin: 0;
  padding: 0;
}

/* line 377, ../../sass/dri/containers.scss */
.filter_list_sub ul {
  margin: -40px;
  padding: auto;
}

/* line 382, ../../sass/dri/containers.scss */
.dri_facet_filters ul.filter_list_sub li {
  font-size: 100%;
}

/* line 385, ../../sass/dri/containers.scss */
.dri_facet_filters ul.filter_list_sub li a {
  color: #808080;
  background-color: #FAFAFA;
}

/* line 389, ../../sass/dri/containers.scss */
.dri_facet_filters ul.filter_list_sub li a:hover {
  background-color: #EEEEEE;
  text-decoration: none;
}

/* line 393, ../../sass/dri/containers.scss */
.dri_facet_filters ul.filter_list_sub li.on a {
  text-decoration: underline;
  background-color: #EEEEEE;
}

/* ----------- comment blocks ---------- */
/* line 400, ../../sass/dri/containers.scss */
.dri_comment_block {
  width: 730px;
  margin: 0 20px 0 20px;
  float: left;
  padding: 0;
  border-top: 1px solid #E1E1E1;
  padding-top: 20px;
  margin-bottom: 20px;
}

/* line 411, ../../sass/dri/containers.scss */
.dri_comment_block h1.dri_comments {
  font-size: 120%;
  margin: 0;
  padding: 0;
  color: #2F2F2F;
}

/* line 417, ../../sass/dri/containers.scss */
.dri_comment_block h1.dri_pc_name {
  font-size: 106%;
  margin: 0;
  padding: 0;
  color: #2F2F2F;
  font-weight: normal;
}

/* line 424, ../../sass/dri/containers.scss */
.dri_comment_block h1.dri_pc_name span.dri_date {
  color: #B3B3B3;
  margin-left: 10px;
}

/* line 429, ../../sass/dri/containers.scss */
.dri_comment_block .dri_comment_box {
  width: 730px;
  height: 120px;
  border: 1px solid #E1E1E1;
  margin: 10px 0 10px 0;
}

/* line 435, ../../sass/dri/containers.scss */
.dri_comment_block p.dri_read_comment {
  margin: 4px 0 0 0;
  padding: 0 80px 0 0;
  color: #808080;
  font-weight: normal;
  font-size: 106%;
}

/* ----------- Object View ---------- */
/* line 445, ../../sass/dri/containers.scss */
.dri_object_view {
  margin: 0 20px 0 20px;
  float: left;
  padding: 0;
}

/* line 451, ../../sass/dri/containers.scss */
.dri_object_view.dri_padding_none {
  float: left;
  margin-left: 0px;
  margin-right: 0px;
}

/* line 457, ../../sass/dri/containers.scss */
.dri_object_view.dri_object_title_top {
  padding: 6px 20px 6px 20px;
  float: left;
  margin: 0;
  background-color: #2F2F2F;
  color: #FFF;
  font-size: 120%;
}

/* line 467, ../../sass/dri/containers.scss */
.dri_object_view_block {
  width: 355px;
  padding: 0;
  float: left;
  margin: 30px 0 0 20px;
}

/* line 473, ../../sass/dri/containers.scss */
.dri_object_view_block h1.dri_title {
  padding: 0 0 0 0;
  margin: 0 0 4px 0;
  font-size: 106%;
  font-weight: normal;
  color: #2F2F2F;
}

/* line 480, ../../sass/dri/containers.scss */
.dri_object_view_block p {
  padding: 0 30px 0 0;
  margin: 0 0 15px 0;
  line-height: 1.4;
  color: #808080;
  font-size: 100%;
}

/* line 487, ../../sass/dri/containers.scss */
.dri_object_view_block .dri_back_search .dri_edit_object a {
  padding: 0;
  margin: 0 30px 0 0;
  color: #278DC1;
  font-size: 100%;
  font-weight: bold;
  float: left;
  display: block;
  width: 130px;
}

/* line 497, ../../sass/dri/containers.scss */
.dri_object_view_block ul.dri_title_list {
  padding: 0 0 0 15px;
  margin: 0 0 15px 0;
}

/* line 501, ../../sass/dri/containers.scss */
.dri_object_view_block ul.dri_title_list li {
  line-height: 1.4;
  color: #808080;
  font-size: 100%;
  list-style: square;
}

/* line 508, ../../sass/dri/containers.scss */
.dri_object_view_block.dri_border_r {
  border-right: 1px solid #E1E1E1;
}

/* line 512, ../../sass/dri/containers.scss */
.dri_object_view_block .dri_image_view {
  display: block;
  background-color: #EAEBEB;
}

/* line 518, ../../sass/dri/containers.scss */
.dri_object_view_block.dri_last {
  margin-right: 0px;
}

/* line 521, ../../sass/dri/containers.scss */
.dri_object_view_block .dri_like_button {
  margin: 0;
  padding: 2px 10px 2px 10px;
  list-style: none;
  text-decoration: none;
  color: #FFF;
  background-color: #808284;
  -moz-border-radius: 3px;
  border-radius: 3px;
  box-shadow: 1px 1px 4px  #888888;
  width: 50px;
  float: left;
  display: block;
  cursor: pointer;
}

/* line 536, ../../sass/dri/containers.scss */
.dri_object_view_block .dri_like_button:hover {
  background-color: #646768;
}

/* line 539, ../../sass/dri/containers.scss */
.dri_object_view_block .dri_like_button span.dri_like {
  background: url('../../images/like_button.png?1385377389') no-repeat;
  width: 20px;
  height: 20px;
  display: block;
  float: left;
  margin: 0;
}

/* line 548, ../../sass/dri/containers.scss */
.dri_object_view_block ul.dri_view_collection {
  margin: 6px 0 0 0;
  padding: 0;
  display: block;
  float: left;
  width: 230px;
  border-top: 1px solid #E1E1E1;
}

/* line 557, ../../sass/dri/containers.scss */
.dri_object_view_block ul.dri_view_collection li {
  margin: 0;
  padding: 3px 0 3px 0;
  list-style: none;
  border-bottom: 1px solid #E1E1E1;
  color: #808080;
}

/* line 564, ../../sass/dri/containers.scss */
.dri_object_view_block ul.dri_view_collection li span.dri_stat_num a {
  float: right;
  font-weight: bold;
  color: #278DC1;
}

/* line 570, ../../sass/dri/containers.scss */
.dri_object_view_block ul.dri_view_collection li span.dri_stat_num a:hover {
  text-decoration: underline;
}

/* line 573, ../../sass/dri/containers.scss */
.dri_object_view_block ul.dri_cite_object {
  margin: 6px 0 0 0;
  padding: 0;
  display: block;
  float: left;
  width: 230px;
  border-top: 1px solid #E1E1E1;
}

/* line 582, ../../sass/dri/containers.scss */
.dri_object_view_block ul.dri_cite_object li {
  margin: 0;
  padding: 3px 0 3px 0;
  list-style: none;
  border-bottom: 1px solid #E1E1E1;
  color: #808080;
}

/* line 590, ../../sass/dri/containers.scss */
.dri_object_view_block ul.dri_stats {
  margin: 20px 0 0 0;
  padding: 4px 0 4px 0;
  width: 230px;
  float: left;
  border-bottom: 1px solid #E1E1E1;
  border-top: 1px solid #E1E1E1;
}

/* line 599, ../../sass/dri/containers.scss */
.dri_object_view_block ul.dri_stats li {
  float: left;
  width: 230px;
  display: block;
  margin: 0;
  padding: 0;
  list-style: none;
  color: #808080;
}

/* line 609, ../../sass/dri/containers.scss */
.dri_object_view_block ul.dri_stats li span.dri_stat_num {
  float: right;
  font-weight: bold;
}

/* line 613, ../../sass/dri/containers.scss */
.dri_object_view_block .dri_bookmark_object {
  margin: 20px 0 0 0;
  padding: 0;
  display: block;
  float: left;
  width: 230px;
  font-weight: bold;
  color: #2F2F2F;
  font-size: 106%;
}

/* line 623, ../../sass/dri/containers.scss */
.dri_object_view_block .dri_bookmark_object select {
  margin: 6px 0 0 0;
  padding: 0;
  float: left;
  width: 230px;
}

/* line 629, ../../sass/dri/containers.scss */
.dri_object_view_block .dri_save_search {
  margin: 20px 0 0 0;
  padding: 0;
  display: block;
  float: left;
  width: 300px;
}

/* line 637, ../../sass/dri/containers.scss */
.dri_object_view_block .dri_save_search input {
  margin: 0 10px 0 0;
  padding: 0;
  float: left;
}

/* line 644, ../../sass/dri/containers.scss */
.dri_object_view_block .dri_vc_title {
  margin: 20px 0 0 0;
  padding: 0;
  display: block;
  float: left;
  width: 230px;
  font-weight: bold;
  color: #2F2F2F;
  font-size: 106%;
}

/* line 655, ../../sass/dri/containers.scss */
.dri_object_view_block .dri_cite_title {
  margin: 20px 0 0 0;
  padding: 0;
  display: block;
  float: left;
  width: 230px;
  font-weight: bold;
  color: #2F2F2F;
  font-size: 106%;
}

/* line 666, ../../sass/dri/containers.scss */
.dri_object_view_block .dri_audio_player {
  padding: 0;
  margin: 0 0 30px 0;
}

/* line 671, ../../sass/dri/containers.scss */
.dri_h140 {
  height: 140px;
}

/* line 675, ../../sass/dri/containers.scss */
.mb20 {
  margin-bottom: 20px;
}
