<div id="content" class="span9">
  <%- if current_or_guest_user.blank? -%>
      <h2><%= t('dri.views.catalog.legends.request_permission_not_logged_in') %></h2>
  <%- elsif @searches.blank? -%>
      <h2><%= t('dri.views.catalog.legends.no_saved_search') %></h2>
  <%- else -%>
      <table class="table">
        <%- @searches.each do |search| -%>
            <tr>
              <td><%= link_to_saved_search(search.query_params) %></td>
              <td><%= button_to t('blacklight.saved_searches.delete'), forget_search_path(search.id) %></td>
            </tr>
        <%- end -%>
      </table>

  <%- end -%>

</div>