<div>
<h4 id="deposit_agreement_title"><%= t('dri.application.terms.deposit_header') %> GA</h4>    

<h5>Definitions</h5>

<p><strong>Access permissions</strong>  The restrictions placed on access by the Depositor.   Authorise/ De-authorise  Authorisation is a function which specifies access rights to resources. Authorisation is related to computer security. A user with authorisation is a user with official power or permission to perform certain tasks. This may include permission to upload or modify digital objects and metadata in the system.   Bulk Export  Any act of copying a digital object and its associated metadata from the System.   Deposit  Any act of uploading or modifying, and publishing file or digital object and its associated metadata to the System. </p>

<p><strong>Depositor</strong>  The person or persons authorised by the Organisational Manager to upload or modify digital objects to the system. </p>

<p><strong>Digital Object</strong>  A digital object refers to any material and its associated metadata provided by the Depositor under the title applied in the metadata and deposited under the terms and conditions of this Agreement and the Deposit Terms and Conditions. </p>

<p><strong>Digital Object Identifier</strong>  The International DOI Foundation has developed DOI names (Digital Object Identifier names) as actionable persistent identifiers for content-related entities. The system then provides for persistent and actionable identification and interoperable exchange of managed information on digital networks.   Persistent identifier  Persistent identifiers are unique, maintainable links to digital objects which provide continuous access to the object, even if it moves servers or moves to the responsibility of a different organisation.   Organisational Manager  The person or persons who has or have signed this agreement on behalf of a depositing organisation.   Roles  The set of tasks an individual has permissions to carry out in the Repository, as granted by the Organisational Manager. </p>

<p><strong>System</strong>  The Digital Repository of Ireland technical repository infrastructure. </p>

<p><strong>The Repository</strong>  University of XX, acting as a representative of the Digital Repository of Ireland (DRI) </p>

<p><strong>Users</strong>  Individuals registered by the Repository to use the Digital Objects or a member of an institution registered by the University to use the Repository under this Organisational Agreement. </p>

<p>This non exclusive, irrevocable and perpetual licence ensures that the original creators of the digital object retain the ownership, copyright and associated intellectual property rights in all deposited digital material.  The Depositor warrants that they are the owner of the copyright, and any associated intellectual property rights, of the digital objects; or they are duly authorised by the owner, or owners, of these rights and capable of granting under this agreement a licence under the terms outlined below. </p>

<h5><strong>The Depositor:</strong> </h5>

<p>D1. Has authority, on behalf of their Organisation, to deposit material in the Repository and to undertake all other actions outlined below (including the application of licences and access permissions to digital objects and the assignment of roles to additional users who have permission to deposit). </p>

<p>D2. Will ensure that correct rights statements, and where applicable, licensing statements, are applied to the digital objects in the System. </p>

<p>D3. Will ensure that, in the case of an Orphan Work, a diligent search is carried out in good faith in respect of each Work, prior to the use of the Work, by consulting the appropriate sources for the Work in question. </p>

<p>Will prepare a record of each diligent search in respect of an Orphan Work, and provide this record to the Repository. </p>

<p>Will ensure that, in the case of an Orphan Work, its status as an Orphan Work is noted in the metadata associated with the Work. </p>

<p>D4. Will promptly notify The Repository of any copyright, confidentiality, privacy, data protection, defamation, or similar or related issues pertaining to the digital objects. </p>

<p>Will act promptly to edit access permission where anysuch issue has arisen. </p>

<p>Will act promptly in association with the Repository to ensure that the most appropriate action is taken, including but not limited to actions pursuant to any applicable notice and action procedure. </p>

<p>D5. Will ensure that appropriate access permissions are applied to the digital objects in the System. </p>

<p>The Repository will not assume responsibility for the setting of access permissions or access given in error by the depositor. All access to restricted content is managed by the depositing institution who can grant and revoke access to collections and digital objects. </p>

<p>D6. Will ensure that the correct organisational affiliation and any associated logos are applied to each digital object in the System as appropriate. </p>

<p>D7. Will ensure that each digital object in the system has an associated metadata record. </p>

<p>D8. Will ensure that the digital objects deposited meet the Repository documented standards (including but not limited to those pertaining to licensing, metadata and formats). </p>

<p>D9. Grants the Repository the right to make available the digital object according to the access permissions set by the depositor. </p>

<p>D10. Will ensure that contact details for the organisation are applied to collection level metadata, on a per collection basis and updated as necessary. </p>

<p>D11. Grants to the repository the right to assign its benefits, rights and obligations under this Agreement to any third party. </p>

<h5><strong>The Repository:</strong> </h5>

<p>R1. Does not assume sole responsibility for access to and availability of any digital object. Depositors are allowed to make their own digital objects available in any means that they wish. </p>

<p>R2. Will take all reasonable and lawful steps to ensure that the permissions granted by the depositor will be enforced by the system. </p>

<p>R3. Will display the rights statements applied to digital object by the Depositor in the System. </p>

<p>R4. Has the right to aggregate metadata associated with the digital objects. </p>

<p>R5. Will assign a persistent identifier to each digital object. </p>

<p>R6. Will ensure that all metadata in the Repository is publicly accessible. </p>

<p>R7. Will make available statistics to the Organisational Manager on the use of the digital objects.</p>

</div>