
<div class="dri_display_institutes">
	<% if @presenter.organisations || @presenter.depositing_organisation %>
	<div class="dri_section_title">
		<span><%= t('dri.views.collection.institute.title') %></span>
	</div>


	<ul class="dri_collection_institutes_list">
		<% if @presenter.depositing_organisation %>
		<li>
			<div class="dri_collection_institutes_item">
				<%= @presenter.display_organisation(@presenter.depositing_organisation) %>
			</div>
		</li>
		<% end %>

		<% if @presenter.organisations %>
		  <% @presenter.organisations.each do |organisation| %>
		    <% next if @presenter.depositing_organisation.try(:name) == organisation.name %>
		    <li>
			  <div class="dri_collection_institutes_item">
				<%= @presenter.display_organisation(organisation) %>
			  </div>
		    </li>
		  <% end %>
		<% end %>
	</ul>
	<% end %>
</div>

