<div id="push"></div>
</div>

<div id="footer">
  <div class="container">
    <span><%= link_to t('dri.headerlinks.privacy'), privacy_path, :id => "privacy", :class => "muted" %></span>
    |
    <span><%= link_to t('dri.headerlinks.about'), about_path, :id => "about", :class => "muted" %></span>
    |
    <span><%= link_to t('dri.headerlinks.contact'), contact_path, :id => "contact", :class => "muted" %></span>
  </div>
</div>

