<div id="push"></div>
</div>

<div id="footer">
  <div class="container">
    <span><%= link_to t('dri.headerlinks.privacy'), 'http://www.dri.ie/privacy-statement', :id => "privacy", :class => "muted" %></span>
    |
    <span><%= link_to t('dri.headerlinks.about'), 'http://www.dri.ie/mission-statement', :id => "about", :class => "muted" %></span>
    |
    <span><%= link_to t('dri.headerlinks.contact'), 'http://www.dri.ie/contact', :id => "contact", :class => "muted" %></span>
  </div>
</div>

