
<label for="<%= "digital_object_type_#{index+1}" %>" class="sr-only"><%= t("dri.views.fields.type") %></label>
<%= select_tag "digital_object[type][]", 
  options_for_select([
    ["Select Primary Type", ""], 
    ["text", "text"], 
    ["image", "image"], 
    ["stillimage", "stillimage"], 
    ["movingimage", "movingimage"], 
    ["3d" , "3d"],
    ["video", "video"], 
    ["sound", "sound"], 
    ["audio", "audio"],
  ], selected: type), 
  class: "edit span6 dri-type-dropdown", required: true, id: "digital_object_type_#{index+1}" %>