
<label for="<%= "digital_object_type_#{index+1}" %>" class="sr-only"><%= t("dri.views.fields.type") %></label>
<%= select_tag "digital_object[type][]", 
  options_for_select([
    ["Select Primary Type", ""], 
    ["text", "text"], 
    ["image", "image"], 
    ["movingImage", "movingImage"], 
    ["interactiveResource", "interactiveResource"],
    ["3D" , "3D"],
    ["sound", "sound"], 
    ["software", "software"],
    ["dataset", "dataset"]
  ], selected: type), 
  class: "edit span6 dri-type-dropdown", required: true, id: "digital_object_type_#{index+1}" %>