<div id="xml_editor">
</div>
<script>
	$(function() {
		$("#xml_editor").xmlEditor({
			ajaxOptions: {
				xmlRetrievalPath: "<%= object_metadata_path(@object) %>",
				xmlUploadPath : "<%= object_metadata_path(@object) %>"
			},
			submitResponseHandler: function(response) {
        if (response.startsWith("<%= t('dri.flash.notice.metadata_updated') %>")) {
          return false;
        } else {
         	return response;
        }
       },
			schema : "pages/mods-3-5.json",
			libPath : '../../lib/'
		}
		);
	});
</script>