<!-- no crumbtrail for the moment - hidden 	-->
<div id="dri_crumbtrail_nav_container_id">
<ol class="breadcrumb">
  <li><a href="#">Home</a></li>
  <li><a href="#">Collections</a></li>
  <li class="active">Object</li>
</ol>
</div>
<!-- close dri_crumbtrail_nav_container -->