    
    <li role="presentation">
      <%= link_to t('dri.headerlinks.rda'), "https://dri.ie/research-data-alliance" %>
    </li>

    <li role="presentation">
      <%= link_to t('dri.headerlinks.amplifying_change'), "https://dri.ie/Amplifying-Change" %>
    </li>    

    <li role="presentation">
      <%= link_to t('dri.headerlinks.archiving_reproductive_health'), "https://dri.ie/Archiving-Reproductive-Health" %>
    </li>

    <li role="presentation">
      <%= link_to t('dri.headerlinks.inspiring_ireland'), "https://www.dri.ie/Inspiring-Ireland" %>
    </li>

