<% if current_user && (params[:controller] == 'saved_searches' && params[:action] == 'index') %>
    <nav id="dri_clear_saved_searches" class="dri_clear_saved_searches">
        <span class="dri_clear_all">
          <%= link_to t('dri.views.catalog.buttons.clear_all_saved_searches'), clear_saved_searches_path, :method => :delete, :data => { :confirm => "#{t('dri.views.catalog.buttons.clear_all_saved_searches')}?" } %>
        </span>
    </nav>
<% end %>