<div id="dri_main_nav_container_id" class="dri_main_nav_container">
  <nav id="dri_main_nav_id" class="dri_main_nav">

    <ul id="dri_main_nav_links_id" class="dri_main_nav_links dri_uppercase">
      <%= render 'shared/header_main_common_nav' %>

      <% if current_user %>
          <%= render 'shared/header_main_workspace_dropdown' %>
          <% if current_user.is_admin? || current_user.is_cm? %>
              <%= render 'shared/header_main_ingest_dropdown' %>
          <% end %>
      <% end %>
    </ul>
  </nav>
</div>
<!-- close dri_main_nav_container -->
