<% if browse_active? %>
    <li class="dropdown dri_dropdown active">
<% else %>
    <li class="dropdown dri_dropdown">
<% end %>
  <% browselink = main_app.search_catalog_path(mode: 'collections', search_field: 'all_fields') %>
  <a href="<%= browselink %>" class="dropdown-toggle" role="button" aria-expanded="false"><%= t('dri.headerlinks.browse') %> <span class="caret"></span></a>
  <ul class="dropdown-menu" role="menu">

<% if catalog_active? %>
    <li class="active">
<% else %>
    <li>
<% end %>

<%= link_to t('dri.headerlinks.browse_collections'), browselink, id: 'browse' %>
</li>

<% if organisations_active? %>
    <li class="active">
<% else %>
    <li>
<% end %>
<%= link_to t('dri.headerlinks.browse_organisations'), main_app.organisations_path, id: 'institutions' %></li>

  </ul>
</li>
