  <nav id="dri_account_nav_id" class="dri_account_nav mb-2">

    <div class="account_container">
    <%= render :partial => 'shared/header_mobile_lang' %>

      <%= link_to user_group.profile_path, :id => 'view_account' do %>
          <i class="fa fa-user"></i>
          <span class="visually-hidden"> <%= t('dri.headerlinks.user_profile') %></span>
      <% end %>
    </div>
  </nav>
  <!-- close dri_account_nav -->
