<li class="dropdown dri_dropdown">
  <a href="http://www.dri.ie/membership" class="dropdown-toggle" role="button" aria-expanded="false"><%= t('dri.headerlinks.deposit') %> <span class="caret"></span></a>
  <ul class="dropdown-menu" role="menu">

    <li role="presentation">
      <%= link_to t('dri.headerlinks.how_to_deposit'), "http://www.dri.ie/dri-collection-policy" %>
    </li>

    <li role="presentation">
      <%= link_to t('dri.headerlinks.membership'), "https://dri.ie/membership" %>
    </li>

    <li role="presentation">
      <%= link_to t('dri.headerlinks.community_archive'), "https://www.dri.ie/community-archive-scheme" %>
    </li>

  </ul>
</li>

