<div id="dri_social_media_container_id"
     class="dri_social_media_container">

  <nav id="dri_social_media_nav_id" class="dri_social_media_nav" >
    <ul id="dri_social_media_links_id" class="dri_social_media_links" data-content="<%= t('dri.help.social_media_links') %>"  data-original-title="<%= t('dri.help.social_media_links_title')%>" data-trigger="hover" data-placement="right">
      <li>
        <a href="https://www.facebook.com/digitalrepositoryireland" class="facebook"></a>
      </li>
      <li>
        <a href="http://www.linkedin.com/company/digital-repository-of-ireland" class="linkedin"></a>
      </li>
      <li>
        <a href="http://www.slideshare.net/dri_ireland" class="share"></a>
      </li>
      <li>
        <a href="https://twitter.com/dri_ireland" class="twitter"></a>
      </li>
    </ul>
  </nav>
</div>
<!-- search term input block (including any required hidden fields) to allow user to input a search term(s)  -->