<!-- no crumbtrail for the moment - hidden 	-->
<% if @document %>
    <div id="dri_crumbtrail_nav_container_id">
      <ol class="breadcrumb">
        <% unless @document[:ancestor_id_tesim].blank? %>
            <% @document[:ancestor_id_tesim].each_with_index do |ancestor_id, index| %>
                <li><%= link_to @document[:ancestor_title_tesim][index], main_app.catalog_path(ancestor_id) %></li>
            <% end %>
        <% end %>
        <li class="active"><%= @document[:title_tesim].first %></li>
      </ol>
    </div>
<% end %>
<!-- close dri_crumbtrail_nav_container -->