<!-- no crumbtrail for the moment - hidden 	-->
<div id="dri_crumbtrail_nav_container_id"
     class="dri_crumbtrail_nav_container dri_no_display">
  <nav id="dri_crumbtrail_nav_id" class="dri_crumbtrail_nav">
    <ul id="dri_crumbtrail_nav_links_id"
        class="dri_crumbtrail_nav_links">
      <li>
        <a href="#">Excepteur</a>
      </li>
      <li>
        <a href="#">Sed ut perspiciatis</a>
      </li>
      <li class="selected">
        <a href="#">Excepteur</a>
      </li>
    </ul>
  </nav>
</div>
<!-- close dri_crumbtrail_nav_container -->