<li class="dropdown dri_dropdown">
  <a href="#" class="dropdown-toggle" data-bs-toggle="dropdown" role="button" aria-controls="dri-deposit-menu" aria-expanded="false"><%= t('dri.headerlinks.deposit') %> <span class="caret"></span></a>
  <ul id="dri-deposit-menu" class="dropdown-menu collapse">
    <li>
      <%= link_to t('dri.headerlinks.how_to_deposit'), "https://dri.ie/how-to-deposit" %>
    </li>

    <li>
      <%= link_to t('dri.headerlinks.membership'), "https://dri.ie/membership" %>
    </li>

    <li>
      <%= link_to t('dri.headerlinks.community_archive'), "https://dri.ie/dri-community-archive-scheme" %>
    </li>
  </ul>
</li>
