  <% if params[:controller] == 'catalog' %>
    <%
      # TODO: merge facets and advanced inclusive facets so normal facets?
      kwargs = params.slice(:sort, :per_page, :show_subs, :mode, :op).symbolize_keys
      kwargs[:mode] ||= 'collections'
      kwargs[:selected_facets] = params[:f_inclusive] if params[:f_inclusive]

      # keep search terms on redirect. use reset search to clear form.
      advanced_keys = params.slice(*search_fields_for_advanced_search.keys).symbolize_keys
      kwargs.merge!(advanced_keys)
    %>
    <div id="dri_advanced_search_input_id" class="dri_sort_nav">
      <%= link_to t('dri.views.objects.buttons.advanced_search'), advanced_path(**kwargs), class: 'btn', id: 'advanced_search' %>
    </div>
  <% end %>
