<% if root? %>
    <li class="nav-item active">
<% else %>
    <li class="nav-item">
<% end %>
<%= link_to t('dri.headerlinks.home'), 'http://www.dri.ie/', id: 'dri_home_id' %>
</li>

<%= render 'shared/header_main_browse_dropdown' %>
<%= render 'shared/header_main_deposit_dropdown' %>

<% if workspace_active? %>
    <li class="nav-item active">
<% else %>
    <li class="nav-item">
<% end %>
<%= link_to t('dri.headerlinks.workspace'), main_app.workspace_path, id: 'workspace' %>
</li>

