<li class="dropdown dri_dropdown">
  <a href="http://www.dri.ie/#" class="dropdown-toggle" role="button" aria-expanded="false"><%= t('dri.headerlinks.our_work') %> <span class="caret"></span></a>
  <ul class="dropdown-menu" role="menu">

    <li role="presentation">
      <%= link_to t('dri.headerlinks.projects'), "http://www.dri.ie/" %>
    </li>

    <li role="presentation">
      <%= link_to t('dri.headerlinks.networks'), "https://dri.ie/" %>
    </li>

    <li role="presentation">
      <%= link_to t('dri.headerlinks.advocacy'), "https://www.dri.ie/" %>
    </li>

  </ul>
</li>
