<li class="dropdown dri_dropdown">
  <a href="http://www.dri.ie/dri-team" class="dropdown-toggle" role="button" aria-expanded="false"><%= t('dri.headerlinks.team') %> <span class="caret"></span></a>
  <ul class="dropdown-menu" role="menu">

    <li role="presentation">
      <%= link_to t('dri.headerlinks.people'), "http://www.dri.ie/dri-team" %>
    </li>

    <li role="presentation">
      <%= link_to t('dri.headerlinks.vacancies'), "http://www.dri.ie/vacancies" %>
    </li>

  </ul>
</li>