<script>
  $(document).on("click", ".configure_download", function () {
  var fileid = $(this).data('fileid');
  var infoModal = $('#dri_download_modal_id');
  htmlData = $('.' + fileid).html();
  infoModal.find('.modal-body').html(htmlData);
  return false;
});
</script>

<% @iiif_sources = [] %>

<div id="oject-multiple-asset-carousel" class="carousel slide dri_carousel_controls" data-bs-interval = "false">
    <!-- Wrapper for slides -->
    <div class="carousel-inner">
      <!--First item set to active-->
      <%= render partial: "shared/carousel_item", collection: displayfiles, as: :generic_file, locals: { document: document, displayfiles_count: displayfiles.size } %>
    </div>

    <% if (displayfiles.size > 1) %>
      <div>
        <button class="carousel-control-prev" type="button" data-bs-target="#oject-multiple-asset-carousel" data-bs-slide="prev" alt="previous page">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#oject-multiple-asset-carousel" data-bs-slide="next" alt="next page">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    <% end %>
</div>
<!-- Controls -->
<% if (displayfiles.size > 0) %>
   <p class="dri_assets_total"><%= "#{t('dri.views.fields.total_assets')} (#{displayfiles.size})" %></p>
<% end %>

 <% if document.published? && document.public_read? %>
  <div style="display:none">
    <%= content_tag('div', id: 'dri_iiif_view', style: 'height:100%', data: { sources: @iiif_sources}) do %>
    <% end %>
  </div>

  <% content_for :head do %>
    <%= javascript_include_tag 'iiif_viewer', async: Rails.env.production? %>
  <% end %>
<% end %>
