<% if has_search_parameters? && params[:view] != "timeline" && params[:view] != "maps" && params[:action] != 'facet' %>
  <nav id="dri_pagination_nav_id" class="dri_pagination_nav">
  <ul id="dri_pagination_nav_links_id" class="dri_pagination_nav_links" data-bs-content="<%= I18n.t('dri.help.dri_pagination_nav_links') %>"  data-bs-title="<%= I18n.t('dri.help.dri_pagination_nav_links_title')%>" data-bs-trigger="hover" data-bs-placement="left">
    <%= paginate @response, :window => 1, :theme => 'blacklight' %>
  </ul>
  <span class="page-entries d-none d-sm-block"><%= page_entries_info(@response) %></span>
</nav>
<% end %>
