<div>
  <ol>
    <li>
      Sonraítear eolas úinéireachta agus cóipchirt do na hoibiachtaí digiteacha go sainráite sa ráiteas cearta ar gach taifead meiteashonraíochta.
    </li>
    <li>
      Aontaíonn tú gan na hoibiachtaí digiteacha a úsáid ach i gcomhréir le Comhaontú an Úsáideora Dheiridh. Nuair is léir duit aon sárú ar a gcuid coinníollacha nó ar na hoibiachtaí digiteacha, aontaíonn tú Taisclann Dhigiteach na hÉireann a chur ar an eolas a luaithe agus is féidir.
    </li>
    <li>
      Cloífidh tú leis na ráitis cuí maidir le cóipcheart agus le ceadúnais a bhaineann le hoibiacht dhigiteach agus le meiteashonraí.
    </li>
    <li>
      Áiritheoidh tú go gcoimeádfar na modhanna rochtana slán ar shonraí agus nach n-úsáidfear iad ach le haghaidh críocha iomchuí. Go háirithe sonraí pearsanta iad pasfhocail agus níor chóir iad a roinnt.
    </li>
    <li>
      Ba chóir an lua bibleagrafach a mholann an Taisclann nó a mhacasamhail a úsáid, más féidir, gach uair a úsáideann tú oibiacht dhigiteach.
    </li>
    <li>
      Ar do phriacal féin amháin atá sé ábhar ar an suíomh seo a úsáid. Aontaíonn tú gan an suíomh seo a úsáid chun críche neamhdhleathaí. Go háirithe ní úsáidfidh tú na hoibiachtaí digiteacha nó na meiteashonraí ar bhealach a sháraíonn an dlí maidir le cóipcheart, rúndacht, príobháideacht, cosaint sonraí, clúmhilleadh nó teoiricí comhchosúla nó bainteacha ar bith eile.
      Fairis sin, ní úsáidfidh tú nó ní dhéanfaidh tú iarracht na hoibiachtaí digiteacha nó na meiteashonraí a úsáid chun aon duine a aithint as a roghnófaí sampla staidéir, ná ní fhéadfaidh tú maíomh go ndearna tú sin.
    </li>
    <li>
      Cuireann an Taisclann as an áireamh, a mhéid is feidir de réir dlí, gach barántas sainráite nó intuigthe d’aon chineál maidir le haon oibiacht dhigiteach nó meiteashonraí; go háirithe, ní bheidh an Taisclann faoi dhliteanas i leith caillteanas nó díobháil (i) a thabhófá nó a bhainfeadh duit nó do thríú páirtí as an úsáid a bhainfeá as oibiacht dhigiteach nó as meiteashonraí, nó (ii) a thiocfadh go díreach nó go hindíreach as an úsáid a bhainfeá as oibiacht dhigiteach nó as meiteashonraí.
    </li>
    <li>
      Má dhíorthaítear oibiachtaí úra digiteacha ó na hoibiachtaí digiteacha a cuireadh ar fáil caithfear iad a thairiscint i gcomhair a dtaiscthe.
    </li>
    <li>
      Má dhéantar aon sárú ar Chomhaontú an Úsáideora Dheiridh, scoirfear do rochtain chuig na seirbhísí ar an toirt gan rabhadh, agus d’fhéadfadh caingean dlí a thionscnamh i do choinne.
    </li>
    <li>
      Rialófar agus forléireofar an Comhaontú seo i gcomhréir le dlíthe Phoblacht na hÉireann agus géilleann gach páirtí go brách do dhlínse chúirteanna Phoblacht na hÉireann amháin thar éileamh nó ábhar ar bith a éireodh as nó a bhainfeadh leis an gComhaontú seo.
    </li>
    <li>
      Úsáideann an suíomh seo fianáin.
    </li>
  </ol>
</div>
