<div>
    <h4 id="end_user_agreement_title"><%= t('dri.application.terms.header') %></h4>
  <ol>
    <li>
      Sonraítear eolas úinéireachta agus cóipchirt maidir leis na hoibiachtaí digiteacha go sainráite sa ráiteas cearta a bhaineann le gach taifead meiteashonraí.
    </li>
    <li>
      Aontaíonn tú gan na hoibiachtaí digiteacha a úsáid ach i gcomhréir leis an gComhaontú Úsáideora Deiridh seo. Nuair is léir duit aon sárú ar na téarmaí nó ar na hoibiachtaí digiteacha, aontaíonn tú Taisclann Dhigiteach na hÉireann a chur ar an eolas a luaithe agus is féidir.
    </li>
    <li>
      Cloífidh tú leis na ráitis chuí maidir le cóipcheart agus le ceadúnais a bhaineann le hoibiacht dhigiteach agus le meiteashonraí.
    </li>
    <li>
      Cinnteoidh tú go gcoimeádfar na modhanna rochtana ar shonraí slán agus nach n-úsáidfear iad ach le haghaidh críocha iomchuí. Go háirithe, is sonraí pearsanta iad pasfhocail agus níor chóir iad a roinnt.
    </li>
    <li>
      Úsáid an lua bibleagrafach a mholann an Taisclann, nó a mhacasamhail, gach uair a úsáideann tú oibiacht dhigiteach, más féidir.
    </li>
    <li>
      Is ar do phriacal féin amháin atá sé ábhar ar an suíomh seo a úsáid. Aontaíonn tú gan an suíomh seo a úsáid chun críche neamhdhleathaí. Go háirithe, ní úsáidfidh tú na hoibiachtaí digiteacha ná na meiteashonraí ar bhealach a sháraíonn an dlí maidir le cóipcheart, rúndacht, príobháideacht, cosaint sonraí, clúmhilleadh nó teoiricí comhchosúla nó bainteacha ar bith eile.
      Ina theannta sin, ní úsáidfidh tú nó ní dhéanfaidh tú iarracht na hoibiachtaí digiteacha ná na meiteashonraí a úsáid chun aon duine as a bhféadfaí sampla staidéir a bheith roghnaithe a aithint, ná ní fhéadfaidh tú a mhaíomh go ndearna tú a leithéid.
    </li>
    <li>
      Cuireann an Taisclann as an áireamh, a mhéid is féidir de réir dlí, gach barántas sainráite nó intuigthe d’aon chineál maidir le haon oibiacht dhigiteach nó meiteashonraí; go háirithe, ní bheidh an Taisclann faoi dhliteanas i leith aon chaillteanais ná damáiste (i) a thabhófá nó a bhainfeadh duit nó do thríú páirtí as an úsáid a bhainfeá as aon oibiacht dhigiteach nó as meiteashonraí, nó (ii) a d’fhéadfadh teacht go díreach nó go hindíreach as an úsáid a bhainfeá as aon oibiacht dhigiteach nó as meiteashonraí.
    </li>
    <li>
      Má dhíorthaítear oibiachtaí úra digiteacha ó na hoibiachtaí digiteacha a cuireadh ar fáil caithfear iad a thairiscint i gcomhair a dtaiscthe.
    </li>
    <li>
      Má dhéantar aon sárú ar an gComhaontú Úsáideora Deiridh seo, scoirfear do rochtain ar na seirbhísí ar an toirt gan rabhadh, agus d’fhéadfaí caingean dlí a thionscnamh i do choinne.
    </li>
    <li>
      Rialófar agus forléireofar an Comhaontú seo de réir dhlíthe Phoblacht na hÉireann agus géilleann gach páirtí go neamh-inchúlghairthe do dhlínse eisiach chúirteanna Phoblacht na hÉireann maidir le héileamh nó ábhar ar bith a d’éireodh as nó a bhainfeadh leis an gComhaontú seo.
    </li>
    <li>
      Úsáideann an suíomh seo fianáin.
    </li>
  </ol>
</div>
