/* Anna updated html and body */
/* line 2, ../../sass/dri/dri.scss */
html {
  margin-bottom: 0.5em;
  height: 100%;
}

/* line 7, ../../sass/dri/dri.scss */
body {
  font: 76%/1.6 Arial, Helvetica, clean,sans-serif;
  *font-size: small;
  *font: x-small;
  margin: 0;
}

/* Anna updated html and body */
/* line 16, ../../sass/dri/dri.scss */
.dri_ident {
  background: url('../../images/dri/dri_ident.png?1386586823');
  background-repeat: no-repeat;
  height: 104px;
  margin: 20px;
}

/* line 22, ../../sass/dri/dri.scss */
a {
  text-decoration: none;
}

/*-------------- Account and Language Styling--------------*/
/* line 27, ../../sass/dri/dri.scss */
.dri_account_nav {
  float: right;
  margin: 10px 0 0 0;
  padding: 0px;
  color: #333;
  height: 50px;
}

/* line 36, ../../sass/dri/dri.scss */
.dri_account_nav ul.dri_account_links {
  margin: 0;
  padding: 0;
}

/* line 41, ../../sass/dri/dri.scss */
.dri_account_nav ul.dri_account_links li {
  float: left;
  text-decoration: none;
  list-style: none;
  display: block;
  margin: 2px 0 0 10px;
  padding: 0 10px 0 0;
  border-right: 1px solid #D9DADB;
}

/* line 51, ../../sass/dri/dri.scss */
.dri_account_nav ul.dri_account_links li.noborder {
  border-right: none;
}

/* line 55, ../../sass/dri/dri.scss */
.dri_account_nav ul.dri_account_links li a {
  float: left;
  text-decoration: none;
  list-style: none;
  color: #808082;
  padding: 0;
}

/* line 63, ../../sass/dri/dri.scss */
.dri_account_nav ul.dri_account_links li a:hover {
  text-decoration: underline;
}

/* line 67, ../../sass/dri/dri.scss */
.dri_account_nav ul.dri_account_links li.on a {
  text-decoration: underline;
}

/* line 70, ../../sass/dri/dri.scss */
.dri_account_nav ul.dri_language_links {
  float: right;
  display: block;
  border: 1px solid #D9DADB;
  margin: 0;
  padding: 2px 6px 2px 6px;
  display: block;
  -moz-border-radius: 2px;
  border-radius: 2px;
}

/* line 81, ../../sass/dri/dri.scss */
.dri_account_nav ul.dri_language_links li {
  float: right;
  text-decoration: none;
  list-style: none;
  border-right: none;
  padding: 0;
  margin: 0;
}

/*-------------- dri logo --------------*/
/* line 90, ../../sass/dri/dri.scss */
.dri_ident {
  height: 165px;
  margin: 0px;
  padding: 0px;
}

/*-------------- Social Media --------------*/
/* line 98, ../../sass/dri/dri.scss */
.dri_social_media_nav {
  margin: 55px 0 0 0;
  padding: 0px;
}

/* line 104, ../../sass/dri/dri.scss */
.dri_social_media_nav ul {
  margin: 0;
  padding: 0;
  float: right;
}

/* line 112, ../../sass/dri/dri.scss */
.dri_social_media_nav li {
  text-decoration: none;
  list-style: none;
  margin: 0;
  padding: 0;
  float: left;
  display: block;
}

/* line 121, ../../sass/dri/dri.scss */
.dri_social_media_nav li a {
  text-decoration: none;
  list-style: none;
  padding: 0;
}

/* line 127, ../../sass/dri/dri.scss */
.dri_social_media_nav li a.facebook {
  background: url('../../images/dri/facebook_icon.png?1386586823') no-repeat;
  height: 30px;
  width: 30px;
  margin-left: 3px;
  display: block;
}

/* line 135, ../../sass/dri/dri.scss */
.dri_social_media_nav li a.linkedin {
  background: url('../../images/dri/linkedin.png?1386586823') no-repeat;
  height: 30px;
  width: 30px;
  display: block;
}

/* line 141, ../../sass/dri/dri.scss */
.dri_social_media_nav li a.share {
  background: url('../../images/dri/share.png?1386586823') no-repeat;
  height: 30px;
  width: 30px;
  display: block;
}

/* line 147, ../../sass/dri/dri.scss */
.dri_social_media_nav li a.google {
  background: url('../../images/dri/google_plus.png?1386586823') no-repeat;
  height: 30px;
  width: 30px;
  display: block;
}

/*-------------- Main Navigation --------------*/
/* line 157, ../../sass/dri/dri.scss */
.dri_main_nav {
  margin: 0px;
  padding: 0px;
}

/* line 163, ../../sass/dri/dri.scss */
.dri_main_nav ul {
  margin: 0px;
  padding: 0px;
  border-bottom: 1px solid #D9DADB;
  border-top: 1px solid #D9DADB;
  height: 60px;
}

/* line 171, ../../sass/dri/dri.scss */
.dri_main_nav li {
  float: left;
  margin: 0;
  padding: 0;
  font-size: 110%;
  font-weight: bold;
  list-style: none;
  text-decoration: none;
  border-right: 1px solid #D9DADB;
}

/* line 182, ../../sass/dri/dri.scss */
.dri_main_nav li a {
  list-style: none;
  text-decoration: none;
  color: #3E3E3E;
  margin: 0;
  padding: 17px 20px 19px 20px;
  display: block;
  border-top: 3px solid #fff;
}

/* line 192, ../../sass/dri/dri.scss */
.dri_main_nav li a:hover {
  border-top: 3px solid #B3B3B3;
}

/* line 195, ../../sass/dri/dri.scss */
.dri_main_nav li.selected a {
  border-top: 3px solid #90993D;
}

/*-------------- Sub Navigation --------------*/
/* line 201, ../../sass/dri/dri.scss */
.dri_sub_nav {
  margin: 0px;
  padding: 0px;
  border-bottom: 1px solid #D9DADB;
  height: 40px;
}

/* line 207, ../../sass/dri/dri.scss */
.dri_sub_nav ul {
  margin: 0px;
  padding: 0px;
}

/* line 212, ../../sass/dri/dri.scss */
.dri_sub_nav ul.dri_nav_collections {
  margin-left: 112px;
}

/* line 215, ../../sass/dri/dri.scss */
.dri_sub_nav li {
  float: left;
  margin: 10px 0 10px 0;
  padding: 0;
  font-size: 110%;
  font-weight: normal;
  list-style: none;
  text-decoration: none;
  border-right: 1px solid #D9DADB;
}

/* line 226, ../../sass/dri/dri.scss */
.dri_sub_nav li a {
  list-style: none;
  text-decoration: none;
  color: #3E3E3E;
  margin: 0;
  padding: 0 20px 0 20px;
  display: block;
}

/* line 235, ../../sass/dri/dri.scss */
.dri_sub_nav li a:hover {
  text-decoration: underline;
}

/* line 238, ../../sass/dri/dri.scss */
.dri_sub_nav li.no_border_right {
  border-right: none;
}

/* line 241, ../../sass/dri/dri.scss */
.dri_sub_nav li.selected a {
  text-decoration: underline;
}

/*-------------- Crumb trail Navigation --------------*/
/* line 249, ../../sass/dri/dri.scss */
.dri_crumbtrail_nav {
  margin: 0px;
  padding: 0px;
}

/* line 254, ../../sass/dri/dri.scss */
.dri_crumbtrail_nav ul {
  margin: 0px;
  padding: 0 0 0 10px;
  border-bottom: 1px solid #D9DADB;
  height: 40px;
}

/* line 261, ../../sass/dri/dri.scss */
.dri_crumbtrail_nav li {
  float: left;
  margin: 0;
  padding: 0;
  font-size: 100%;
  font-weight: normal;
  list-style: none;
  text-decoration: none;
}

/* line 272, ../../sass/dri/dri.scss */
.dri_crumbtrail_nav li a {
  list-style: none;
  text-decoration: none;
  color: #288DC0;
  margin: 10px 0 10px 0;
  padding: 0 15px 0 10px;
  display: block;
  background: url('../../images/dri/dash.png?1386586823') no-repeat right;
}

/* line 281, ../../sass/dri/dri.scss */
.dri_crumbtrail_nav li a:hover {
  text-decoration: underline;
}

/* line 284, ../../sass/dri/dri.scss */
.dri_crumbtrail_nav li.selected a {
  border-right: none;
  color: #808082;
  background: none;
  text-decoration: underline;
}

/*-------------- Search/Sort features --------------*/
/* line 293, ../../sass/dri/dri.scss */
.dri_search_features_nav_container {
  float: left;
  height: 80px;
  margin: 0;
  padding: 0;
}

/*-------------- Sort by --------------*/
/* line 302, ../../sass/dri/dri.scss */
.dri_sort_nav {
  float: left;
  margin: 0;
  padding: 25px 0 0 0;
}

/* line 308, ../../sass/dri/dri.scss */
.dri_sort_nav select {
  margin: 0;
  padding: 4px;
  width: 230px;
  border: 1px solid #D9DADB;
  -moz-border-radius: 2px;
  border-radius: 2px;
  color: #808082;
}

/*-------------- Search --------------*/
/* line 322, ../../sass/dri/dri.scss */
.dri_search_term_text_input {
  margin: 25px 0 0 0;
  width: 146px;
  padding: 5px 10px 5px 10px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  border: 1px solid #E1E1E1;
  color: #808080;
}

/* line 332, ../../sass/dri/dri.scss */
.dri_search_term_text_submit_button {
  margin: 25px 0 0 6px;
  padding: 4px 8px 4px 6px;
  background-color: #808082;
  border: none;
  color: #FFF;
  -moz-border-radius: 2px;
  border-radius: 2px;
  float: right;
}

/*-------------- Page Grid --------------*/
/* line 345, ../../sass/dri/dri.scss */
.dri_pager_nav {
  margin: 25px 0 0 0;
  padding: 0;
}

/* line 349, ../../sass/dri/dri.scss */
.dri_pager_nav ul {
  margin: 0;
  padding: 0;
}

/* line 355, ../../sass/dri/dri.scss */
.dri_pager_nav li {
  float: left;
  margin: 0 0 0 4px;
  padding: 3px 8px 0px 8px;
  text-decoration: none;
  list-style: none;
  display: block;
  border: 1px solid #D9DADB;
}

/* line 364, ../../sass/dri/dri.scss */
.dri_pager_nav li a {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  color: #808082;
}

/* line 371, ../../sass/dri/dri.scss */
.dri_pager_nav li:hover {
  text-decoration: underline;
  color: #3E3E3E;
}

/* line 375, ../../sass/dri/dri.scss */
.dri_pager_nav li.selected {
  background-color: #F5F5F5;
  text-decoration: underline;
}

/*-------------- Pagination --------------*/
/* line 384, ../../sass/dri/dri.scss */
.dri_pagination_nav {
  margin: 25px 0 10px 0;
  padding: 0x;
}

/* line 389, ../../sass/dri/dri.scss */
.dri_pagination_nav ul {
  margin: 0;
  padding: 0;
  float: right;
}

/* line 395, ../../sass/dri/dri.scss */
.dri_pagination_nav li {
  float: left;
  list-style: none;
  display: block;
  padding: 0;
}

/* line 401, ../../sass/dri/dri.scss */
.dri_pagination_nav li a {
  float: left;
  list-style: none;
  display: block;
  padding: 3px 10px 0px 10px;
  color: #FFFFFF;
  background-color: #B3B3B3;
  margin-right: 4px;
  text-decoration: none;
}

/* line 411, ../../sass/dri/dri.scss */
.dri_pagination_nav li a:hover {
  background-color: #B3B3B3;
}

/* line 414, ../../sass/dri/dri.scss */
.dri_pagination_nav li.selected a {
  background-color: #6D6E71;
  text-decoration: underline;
}

/* line 418, ../../sass/dri/dri.scss */
.dri_pagination_nav li.first a {
  background: url(../../images/dri/prev_arrow.png) no-repeat center;
  background-color: none;
}

/* line 422, ../../sass/dri/dri.scss */
.dri_pagination_nav li.last a {
  background: url(../../images/dri/next_arrow.png) no-repeat center;
  background-color: none;
}

/*-------------- Facet Restriction --------------*/
/* line 431, ../../sass/dri/dri.scss */
.dri_facet_restrictions_links {
  margin: 0;
  padding: 0;
  float: left;
}

/* line 437, ../../sass/dri/dri.scss */
.dri_facet_restrictions_links ul {
  margin: 0;
  padding: 0;
}

/* line 442, ../../sass/dri/dri.scss */
.dri_facet_restrictions_links li {
  margin: 0 10px 0 0;
  padding: 4px 0 4px 15px;
  list-style: none;
  text-decoration: none;
  color: #FFF;
  background-color: #2F2F2F;
  -moz-border-radius: 3px;
  border-radius: 3px;
  box-shadow: 1px 1px 4px #888888;
  float: left;
  display: block;
}

/* line 455, ../../sass/dri/dri.scss */
.dri_facet_restrictions_links li a {
  margin: 0 0 0 20px;
  padding: 0 10px 0 10px;
  color: #FFF;
  border-left: 1px solid #999;
  text-decoration: none;
}

/*-------------- Save Search --------------*/
/* line 465, ../../sass/dri/dri.scss */
.dri_search_save_input {
  margin: 0px;
  padding: 0px;
}

/* line 470, ../../sass/dri/dri.scss */
.dri_search_save_submit_button {
  box-shadow: 1px 1px 4px #f0f0f0;
  margin: 25px 0 0 0;
  padding: 4px 10px 4px 10px;
  float: right;
  border: none;
  -moz-border-radius: 2px;
  border-radius: 2px;
  color: #808082;
  background-color: #F0F0F0;
  border: 1px solid #D9DADB;
}

/* line 483, ../../sass/dri/dri.scss */
.dri_search_save_submit_button:hover {
  background-color: #E0E0E0;
  cursor: pointer;
}

/*-------------- Warning Messages --------------*/
/*-------------- Info Messages --------------*/
/* line 490, ../../sass/dri/dri.scss */
.dri_info_message {
  margin: 20px 0 0 0;
  padding: 2px 10px 2px 10px;
  display: block;
  width: 710px;
  background-color: #DCECF6;
  -moz-border-radius: 2px;
  border-radius: 2px;
  border: 1px solid #288DC0;
  float: left;
}

/* line 502, ../../sass/dri/dri.scss */
.dri_info_message h1 {
  margin: 0;
  padding: 0;
  font-size: 110%;
  color: #288DC0;
  float: left;
  font-weight: normal;
  float: left;
}

/* line 511, ../../sass/dri/dri.scss */
.dri_info_message span.dri_close a {
  margin: 0;
  padding: 1px 0 0 0;
  font-size: 100%;
  color: #288DC0;
  font-weight: bold;
  float: right;
  text-decoration: none;
}

/*-------------- Successful Messages --------------*/
/* line 523, ../../sass/dri/dri.scss */
.dri_successful_message {
  margin: 20px 0 0 0;
  padding: 2px 10px 2px 10px;
  display: block;
  width: 710px;
  background-color: #D9F8B5;
  -moz-border-radius: 2px;
  border-radius: 2px;
  border: 1px solid #096;
  float: left;
}

/* line 535, ../../sass/dri/dri.scss */
.dri_successful_message h1 {
  margin: 0;
  padding: 0;
  font-size: 110%;
  color: #096;
  float: left;
  font-weight: normal;
  float: left;
}

/* line 544, ../../sass/dri/dri.scss */
.dri_successful_message span.dri_close a {
  margin: 0;
  padding: 1px 0 0 0;
  font-size: 100%;
  color: #096;
  font-weight: bold;
  float: right;
  text-decoration: none;
}

/*-------------- Warning Messages --------------*/
/* line 556, ../../sass/dri/dri.scss */
.dri_warning_message {
  margin: 20px 0 0 0;
  padding: 2px 10px 2px 10px;
  display: block;
  width: 710px;
  background-color: #F0E8B0;
  -moz-border-radius: 2px;
  border-radius: 2px;
  border: 1px solid #BC7F00;
  float: left;
}

/* line 567, ../../sass/dri/dri.scss */
.dri_warning_message h1 {
  margin: 0;
  padding: 0;
  font-size: 110%;
  color: #BC7F00;
  float: left;
  font-weight: normal;
  float: left;
}

/* line 576, ../../sass/dri/dri.scss */
.dri_warning_message span.dri_close a {
  margin: 0;
  padding: 1px 0 0 0;
  font-size: 100%;
  color: #BC7F00;
  font-weight: bold;
  float: right;
  text-decoration: none;
}

/*-------------- Error Messages --------------*/
/* line 588, ../../sass/dri/dri.scss */
.dri_error_message {
  margin: 20px 0 0 0;
  padding: 2px 10px 2px 10px;
  display: block;
  width: 710px;
  background-color: #FFD9DC;
  -moz-border-radius: 2px;
  border-radius: 2px;
  border: 1px solid #E18191;
  float: left;
}

/* line 599, ../../sass/dri/dri.scss */
.dri_error_message h1 {
  margin: 0;
  padding: 0;
  font-size: 110%;
  color: #903;
  float: left;
  font-weight: normal;
  float: left;
}

/* line 608, ../../sass/dri/dri.scss */
.dri_error_message span.dri_close a {
  margin: 0;
  padding: 1px 0 0 0;
  font-size: 100%;
  color: #903;
  font-weight: bold;
  float: right;
  text-decoration: none;
}

/* ----------- Facet Filter block ---------- */
/* line 621, ../../sass/dri/dri.scss */
.dri_facet_filters_block {
  font-size: 100%;
  margin: 0 20px 20px 0;
  padding: 0 0 0 0;
  float: left;
  display: block;
  color: #2F2F2F;
  border: 1px solid #E1E1E1;
  box-shadow: 1px 2px 6px #E3E3E3;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

/* line 634, ../../sass/dri/dri.scss */
.dri_facet_filters {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  float: left;
  display: block;
}

/* line 642, ../../sass/dri/dri.scss */
.dri_facet_filters .dri_head_title {
  color: #2F2F2F;
  font-weight: bold;
  padding: 10px 0 10px 20px;
  margin: 0;
  list-style: none;
  text-decoration: none;
  font-size: 110%;
  float: left;
  display: block;
  width: 120px;
}

/* line 654, ../../sass/dri/dri.scss */
.dri_facet_filters .dri_search_num {
  float: right;
  display: block;
  padding: 10px 15px 0 0;
  margin: 0;
}

/* line 661, ../../sass/dri/dri.scss */
.dri_facet_filters .dri_sub_title a {
  font-size: 120%;
  font-weight: normal;
  margin: 0;
  padding: 6px 0 6px 20px;
  list-style: none;
  text-decoration: none;
  width: 218px;
  float: left;
  display: block;
  border-top: 1px solid #D9DADB;
  color: #2F2F2F;
}

/* line 677, ../../sass/dri/dri.scss */
.dri_facet_filters .dri_sub_title a span.dri_arrow_down {
  background: url(../../images/dri/arrow_down.png) no-repeat center;
  width: 15px;
  height: 15px;
  display: block;
  float: right;
  margin: 0;
  padding: 0 0 0 25px;
}

/* line 687, ../../sass/dri/dri.scss */
.dri_facet_filters .dri_sub_title a span.dri_arrow_up {
  background: url(../../images/dri/arrow_up.png) no-repeat center;
  width: 15px;
  height: 15px;
  display: block;
  float: right;
  margin: 0;
  padding: 0 0 0 25px;
}

/* line 698, ../../sass/dri/dri.scss */
.dri_facet_filters .dri_sub_title a:hover {
  text-decoration: underline;
}

/* line 702, ../../sass/dri/dri.scss */
.dri_facet_filters ul {
  margin: 0;
  padding: 0;
}

/* line 706, ../../sass/dri/dri.scss */
.dri_facet_filters li {
  font-weight: normal;
  list-style: none;
}

/* line 712, ../../sass/dri/dri.scss */
.dri_facet_filters li a {
  text-decoration: none;
  color: #808080;
  font-weight: normal;
  float: left;
  display: block;
  background-color: #F5F5F5;
  border-bottom: 2px solid #FFF;
  margin: 0;
  padding: 4px 0 4px 20px;
  width: 218px;
}

/* line 725, ../../sass/dri/dri.scss */
.dri_facet_filters li a:hover {
  text-decoration: underline;
}

/* line 729, ../../sass/dri/dri.scss */
.dri_facet_filters li.selected a {
  background-color: #E0E0E0;
  text-decoration: none;
}

/* ----------- Collection block ---------- */
/* line 734, ../../sass/dri/dri.scss */
.content_block_wrap {
  width: 730px;
  margin: 0 20px 0 20px;
  float: left;
  padding: 0;
}

/* line 740, ../../sass/dri/dri.scss */
.dri_content_block {
  margin: 0 20px 20px 0;
  padding: 0;
  width: 228px;
  float: left;
  display: block;
  color: #2F2F2F;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #E1E1E1;
  position: relative;
}

/* line 754, ../../sass/dri/dri.scss */
.dri_content_block.top {
  border-top: 5px solid #E1E1E1;
}

/* line 757, ../../sass/dri/dri.scss */
.dri_content_block.last {
  margin: 0 0 20px 0;
}

/* line 761, ../../sass/dri/dri.scss */
.dri_content_block .dri_high_view {
  background: url('../../images/high_view_icon.png') no-repeat;
}

/* line 766, ../../sass/dri/dri.scss */
.dri_content_block h1 {
  color: #2F2F2F;
  font-size: 110%;
  padding: 0;
  margin: 10px 14px 20px 14px;
  height: 35px;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* line 776, ../../sass/dri/dri.scss */
.dri_content_block h1 a {
  color: #2F2F2F;
  text-decoration: none;
}

/* line 780, ../../sass/dri/dri.scss */
.dri_content_block a:hover h1 {
  text-decoration: underline;
}

/* line 784, ../../sass/dri/dri.scss */
.dri_content_block h2 {
  color: #2F2F2F;
  font-size: 100%;
  padding: 0;
  margin: 4px 14px 4px 14px;
  font-weight: normal;
}

/* line 791, ../../sass/dri/dri.scss */
.dri_content_block h2 a {
  color: #2F2F2F;
  text-decoration: none;
}

/* line 795, ../../sass/dri/dri.scss */
.dri_content_block h2 a:hover {
  text-decoration: underline;
}

/* line 799, ../../sass/dri/dri.scss */
.dri_content_block h2.dri_editor {
  color: #808080;
  line-height: 1.4em;
  display: block;
  height: 36px;
  white-space: wrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* line 809, ../../sass/dri/dri.scss */
.dri_content_block h2.dri_editor a {
  color: #808080;
  text-decoration: none;
}

/* line 813, ../../sass/dri/dri.scss */
.dri_content_block h2.dri_editor a:hover {
  text-decoration: underline;
}

/* line 816, ../../sass/dri/dri.scss */
.dri_content_block p {
  color: #2F2F2F;
  font-size: 100%;
  padding: 0;
  margin: 10px 10px 10px 10px;
}

/* line 823, ../../sass/dri/dri.scss */
.dri_image {
  padding: 0;
  margin: 0 14px 0 14px;
}

/* line 828, ../../sass/dri/dri.scss */
.dri_stats {
  color: #808080;
  line-height: 1.4em;
  display: block;
  height: 24px;
  margin: 4px 14px 4px 14px;
  border-top: 1px solid #E1E1E1;
  padding: 6px 0 0 0;
}

/* line 837, ../../sass/dri/dri.scss */
.dri_stats span.view {
  margin: 0;
  padding: 0;
}

/* line 841, ../../sass/dri/dri.scss */
.dri_content_block .dri_stats span.dri_object_num {
  color: #fff;
  display: block;
  height: 20px;
  width: 42px;
  padding: 3px 0 0 6px;
  margin: 0 8px 0 0;
  float: left;
  background: url('../../images/object_back.png') no-repeat;
}

/* line 851, ../../sass/dri/dri.scss */
.dri_content_block .stats span.dri_object_num a {
  color: #fff;
  text-decoration: none;
}

/* line 855, ../../sass/dri/dri.scss */
.dri_content_block .stats span.dri_object_num a:hover {
  text-decoration: underline;
}

/*-------------- Footer navigation --------------*/
/* line 861, ../../sass/dri/dri.scss */
.dri_main_footer_navigation {
  margin: 100px 0 100px 0;
  padding: 0px;
  border-top: 1px solid #D9DADB;
  height: 40px;
}

/* line 867, ../../sass/dri/dri.scss */
.dri_main_footer_navigation ul {
  margin: 0px;
  padding: 0px;
}

/* line 873, ../../sass/dri/dri.scss */
.dri_main_footer_navigation li {
  float: left;
  margin: 10px 0 10px 0;
  padding: 0 20px 0 20px;
  font-size: 100%;
  font-weight: normal;
  list-style: none;
  text-decoration: none;
  border-right: 1px solid #D9DADB;
}

/* line 883, ../../sass/dri/dri.scss */
.dri_main_footer_navigation li a {
  list-style: none;
  text-decoration: none;
  color: #808082;
  margin: 0;
  padding: 0;
  display: block;
}

/* line 892, ../../sass/dri/dri.scss */
.dri_main_footer_navigation li a:hover {
  text-decoration: underline;
}

/* line 895, ../../sass/dri/dri.scss */
.dri_main_footer_navigation li.selected {
  text-decoration: underline;
}

/* line 898, ../../sass/dri/dri.scss */
.dri_main_footer_navigation li.no_border_right {
  border-right: none;
}

/*-------------- Dialog Box --------------*/
/* line 904, ../../sass/dri/dri.scss */
.dri_dialog_example {
  margin: 0;
  padding: 12px;
  border: 1px solid #D9DADB;
  background-color: #FFF;
  color: #808082;
}

/* Third Party CSS */
/*
 * Dropit v1.0
 * http://dev7studios.com/dropit
 *
 * Copyright 2012, Dev7studios
 * Free to use and abuse under the MIT license.
 * http://www.opensource.org/licenses/mit-license.php
 */
/* These styles assume you are using ul and li */
/* line 926, ../../sass/dri/dri.scss */
.dropit {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* line 931, ../../sass/dri/dri.scss */
.dropit .dropit-trigger {
  position: relative;
}

/* line 932, ../../sass/dri/dri.scss */
.dropit .dropit-submenu {
  position: absolute;
  top: 100%;
  right: -14%;
  /* dropdown left or right */
  z-index: 1000;
  display: none;
  list-style: none;
  border: 1px solid #D9DADB;
  margin: 2px 0 0 0;
  padding: 2px 16px 2px 7px;
  display: block;
  -moz-border-radius: 2px;
  border-radius: 2px;
  background-color: #f0f0f0;
}

/* line 947, ../../sass/dri/dri.scss */
.dropit .dropit-open .dropit-submenu {
  display: block;
}
