/* line 1, ../../sass/dri/dri.scss */
.dri_ident {
  background: url('../../images/dri/dri_ident.png?1385538808');
  background-repeat: no-repeat;
  height: 104px;
  margin: 20px;
}

/*-------------- Account and Language Styling--------------*/
/* line 10, ../../sass/dri/dri.scss */
.dri_account_nav {
  float: right;
  margin: 10px 0 0 0;
  padding: 0px;
  color: #333;
  height: 50px;
}

/* line 19, ../../sass/dri/dri.scss */
.dri_account_nav ul.dri_account_links {
  margin: 0;
  padding: 0;
}

/* line 24, ../../sass/dri/dri.scss */
.dri_account_nav ul.dri_account_links li {
  float: left;
  text-decoration: none;
  list-style: none;
  display: block;
  margin: 2px 0 0 10px;
  padding: 0 10px 0 0;
  border-right: 1px solid #D9DADB;
}

/* line 34, ../../sass/dri/dri.scss */
.dri_account_nav ul.dri_account_links li.noborder {
  border-right: none;
}

/* line 38, ../../sass/dri/dri.scss */
.dri_account_nav ul.dri_account_links li a {
  float: left;
  text-decoration: none;
  list-style: none;
  color: #808082;
  padding: 0;
}

/* line 46, ../../sass/dri/dri.scss */
.dri_account_nav ul.dri_account_links li a:hover {
  text-decoration: underline;
}

/* line 50, ../../sass/dri/dri.scss */
.dri_account_nav ul.dri_account_links li.on a {
  text-decoration: underline;
}

/* line 53, ../../sass/dri/dri.scss */
.dri_account_nav ul.dri_language_links {
  float: right;
  display: block;
  border: 1px solid #D9DADB;
  margin: 0;
  padding: 2px 6px 2px 6px;
  display: block;
  -moz-border-radius: 2px;
  border-radius: 2px;
}

/* line 64, ../../sass/dri/dri.scss */
.dri_account_nav ul.dri_language_links li {
  float: right;
  text-decoration: none;
  list-style: none;
  border-right: none;
  padding: 0;
  margin: 0;
}

/*-------------- dri logo --------------*/
/* line 73, ../../sass/dri/dri.scss */
.dri_ident {
  height: 165px;
  margin: 0px;
  padding: 0px;
}

/*-------------- Social Media --------------*/
/* line 81, ../../sass/dri/dri.scss */
.dri_social_media_nav {
  margin: 55px 0 0 0;
  padding: 0px;
}

/* line 87, ../../sass/dri/dri.scss */
.dri_social_media_nav ul {
  margin: 0;
  padding: 0;
  float: right;
}

/* line 95, ../../sass/dri/dri.scss */
.dri_social_media_nav li {
  text-decoration: none;
  list-style: none;
  margin: 0;
  padding: 0;
  float: left;
  display: block;
}

/* line 104, ../../sass/dri/dri.scss */
.dri_social_media_nav li a {
  text-decoration: none;
  list-style: none;
  padding: 0;
}

/* line 110, ../../sass/dri/dri.scss */
.dri_social_media_nav li a.facebook {
  background: url('../../images/dri/facebook_icon.png?1378212012') no-repeat;
  height: 30px;
  width: 30px;
  margin-left: 3px;
  display: block;
}

/* line 118, ../../sass/dri/dri.scss */
.dri_social_media_nav li a.linkedin {
  background: url('../../images/dri/linkedin.png?1378216105') no-repeat;
  height: 30px;
  width: 30px;
  display: block;
}

/* line 124, ../../sass/dri/dri.scss */
.dri_social_media_nav li a.share {
  background: url('../../images/dri/share.png?1378216124') no-repeat;
  height: 30px;
  width: 30px;
  display: block;
}

/* line 130, ../../sass/dri/dri.scss */
.dri_social_media_nav li a.google {
  background: url('../../images/dri/google_plus.png?1378216144') no-repeat;
  height: 30px;
  width: 30px;
  display: block;
}

/*-------------- Main Navigation --------------*/
/* line 140, ../../sass/dri/dri.scss */
.dri_main_nav {
  margin: 0px;
  padding: 0px;
}

/* line 146, ../../sass/dri/dri.scss */
.dri_main_nav ul {
  margin: 0px;
  padding: 0px;
  border-bottom: 1px solid #D9DADB;
  border-top: 1px solid #D9DADB;
  height: 60px;
}

/* line 154, ../../sass/dri/dri.scss */
.dri_main_nav li {
  float: left;
  margin: 0;
  padding: 0;
  font-size: 110%;
  font-weight: bold;
  list-style: none;
  text-decoration: none;
  border-right: 1px solid #D9DADB;
}

/* line 165, ../../sass/dri/dri.scss */
.dri_main_nav li a {
  list-style: none;
  text-decoration: none;
  color: #3E3E3E;
  margin: 0;
  padding: 17px 20px 19px 20px;
  display: block;
  border-top: 3px solid #fff;
}

/* line 175, ../../sass/dri/dri.scss */
.dri_main_nav li a:hover {
  border-top: 3px solid #B3B3B3;
}

/* line 178, ../../sass/dri/dri.scss */
.dri_main_nav li.selected a {
  border-top: 3px solid #90993D;
}

/*-------------- Sub Navigation --------------*/
/* line 184, ../../sass/dri/dri.scss */
.dri_sub_nav {
  margin: 0px;
  padding: 0px;
  border-bottom: 1px solid #D9DADB;
  height: 40px;
}

/* line 190, ../../sass/dri/dri.scss */
.dri_sub_nav ul {
  margin: 0px;
  padding: 0px;
}

/* line 195, ../../sass/dri/dri.scss */
.dri_sub_nav ul.dri_nav_collections {
  margin-left: 112px;
}

/* line 198, ../../sass/dri/dri.scss */
.dri_sub_nav li {
  float: left;
  margin: 10px 0 10px 0;
  padding: 0;
  font-size: 110%;
  font-weight: normal;
  list-style: none;
  text-decoration: none;
  border-right: 1px solid #D9DADB;
}

/* line 209, ../../sass/dri/dri.scss */
.dri_sub_nav li a {
  list-style: none;
  text-decoration: none;
  color: #3E3E3E;
  margin: 0;
  padding: 0 20px 0 20px;
  display: block;
}

/* line 218, ../../sass/dri/dri.scss */
.dri_sub_nav li a:hover {
  text-decoration: underline;
}

/* line 221, ../../sass/dri/dri.scss */
.dri_sub_nav li.no_border_right {
  border-right: none;
}

/* line 224, ../../sass/dri/dri.scss */
.dri_sub_nav li.selected a {
  text-decoration: underline;
}

/*-------------- Crumb trail Navigation --------------*/
/* line 231, ../../sass/dri/dri.scss */
.dri_crumbtrail_nav {
  margin: 0px;
  padding: 0px;
}

/* line 236, ../../sass/dri/dri.scss */
.dri_crumbtrail_nav ul {
  margin: 0px;
  padding: 0 0 0 10px;
  border-bottom: 1px solid #D9DADB;
  height: 40px;
}

/* line 243, ../../sass/dri/dri.scss */
.dri_crumbtrail_nav li {
  float: left;
  margin: 0;
  padding: 0;
  font-size: 100%;
  font-weight: normal;
  list-style: none;
  text-decoration: none;
}

/* line 254, ../../sass/dri/dri.scss */
.dri_crumbtrail_nav li a {
  list-style: none;
  text-decoration: none;
  color: #288DC0;
  margin: 10px 0 10px 0;
  padding: 0 15px 0 10px;
  display: block;
  background: url('../../images/dri/dash.png?1384342222') no-repeat right;
}

/* line 263, ../../sass/dri/dri.scss */
.dri_crumbtrail_nav li a:hover {
  text-decoration: underline;
}

/* line 266, ../../sass/dri/dri.scss */
.dri_crumbtrail_nav li.selected a {
  border-right: none;
  color: #808082;
  background: none;
  text-decoration: underline;
}

/*-------------- Search/Sort features --------------*/
/* line 275, ../../sass/dri/dri.scss */
.dri_search_features_nav_container {
  float: left;
  height: 80px;
  margin: 0;
  padding: 0px;
}

/*-------------- Sort by --------------*/
/* line 284, ../../sass/dri/dri.scss */
.dri_sort_nav {
  float: left;
  margin: 0;
  padding: 25px 0 0 0;
}

/* line 290, ../../sass/dri/dri.scss */
.dri_sort_nav select {
  margin: 0;
  padding: 4px;
  width: 230px;
  border: 1px solid #D9DADB;
  -moz-border-radius: 2px;
  border-radius: 2px;
  color: #808082;
}

/*-------------- Search --------------*/
/* line 304, ../../sass/dri/dri.scss */
.dri_search_term_text_input {
  margin: 25px 0 0 0;
  width: 186px;
  padding: 5px 10px 5px 10px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  border: 1px solid #E1E1E1;
  color: #808080;
}

/* line 314, ../../sass/dri/dri.scss */
.dri_search_term_text_submit_button {
  margin: 25px 0 0 6px;
  padding: 4px 3px 4px 3px;
  background-color: #808082;
  border: none;
  color: #FFF;
  -moz-border-radius: 2px;
  border-radius: 2px;
}

/*-------------- Page Grid --------------*/
/* line 325, ../../sass/dri/dri.scss */
.dri_pager_nav {
  margin: 25px 0 0 0;
  padding: 0;
}

/* line 329, ../../sass/dri/dri.scss */
.dri_pager_nav ul {
  margin: 0;
  padding: 0;
}

/* line 335, ../../sass/dri/dri.scss */
.dri_pager_nav li {
  float: left;
  margin: 0 0 0 4px;
  padding: 2px 8px 2px 8px;
  text-decoration: none;
  list-style: none;
  display: block;
  border: 1px solid #D9DADB;
}

/* line 344, ../../sass/dri/dri.scss */
.dri_pager_nav li a {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  color: #808082;
}

/* line 351, ../../sass/dri/dri.scss */
.dri_pager_nav li:hover {
  text-decoration: underline;
  color: #3E3E3E;
}

/* line 355, ../../sass/dri/dri.scss */
.dri_pager_nav li.selected {
  background-color: #F0F0F0;
  text-decoration: none;
}

/*-------------- Pagination --------------*/
/* line 365, ../../sass/dri/dri.scss */
.dri_pagination_nav {
  margin: 25px 0 10px 0;
  padding: 0x;
}

/* line 370, ../../sass/dri/dri.scss */
.dri_pagination_nav ul {
  margin: 0;
  padding: 0;
  float: right;
}

/* line 376, ../../sass/dri/dri.scss */
.dri_pagination_nav li {
  float: left;
  list-style: none;
  display: block;
  padding: 0;
}

/* line 382, ../../sass/dri/dri.scss */
.dri_pagination_nav li a {
  float: left;
  list-style: none;
  display: block;
  padding: 2px 10px 2px 10px;
  color: #FFFFFF;
  background-color: #B3B3B3;
  margin-right: 4px;
  text-decoration: none;
}

/* line 392, ../../sass/dri/dri.scss */
.dri_pagination_nav li.selected a {
  background-color: #6D6E71;
}

/* line 395, ../../sass/dri/dri.scss */
.dri_pagination_nav li.first a {
  background: url(../../images/dri/prev_arrow.png) no-repeat center;
  background-color: none;
}

/* line 399, ../../sass/dri/dri.scss */
.dri_pagination_nav li.last a {
  background: url(../../images/dri/next_arrow.png) no-repeat center;
  background-color: none;
}

/*-------------- Facet Restriction --------------*/
/* line 408, ../../sass/dri/dri.scss */
.dri_facet_restrictions_links {
  margin: 0;
  padding: 0;
  float: left;
}

/* line 414, ../../sass/dri/dri.scss */
.dri_facet_restrictions_links ul {
  margin: 0;
  padding: 0;
}

/* line 419, ../../sass/dri/dri.scss */
.dri_facet_restrictions_links li {
  margin: 0 10px 0 0;
  padding: 4px 0 4px 15px;
  list-style: none;
  text-decoration: none;
  color: #FFF;
  background-color: #2F2F2F;
  -moz-border-radius: 3px;
  border-radius: 3px;
  box-shadow: 1px 1px 4px  #888888;
  float: left;
  display: block;
}

/* line 432, ../../sass/dri/dri.scss */
.dri_facet_restrictions_links li a {
  margin: 0 0 0 20px;
  padding: 0 10px 0 10px;
  color: #FFF;
  border-left: 1px solid #999;
  text-decoration: none;
}

/*-------------- Save Search --------------*/
/* line 442, ../../sass/dri/dri.scss */
.dri_search_save_input {
  margin: 0px;
  padding: 0px;
}

/* line 447, ../../sass/dri/dri.scss */
.dri_search_save_submit_button {
  margin: 25px 0 0 0;
  padding: 4px 10px 4px 10px;
  float: right;
  border: none;
  -moz-border-radius: 2px;
  border-radius: 2px;
  color: #808082;
  background-color: #F0F0F0;
  border: 1px solid #D9DADB;
}

/*-------------- Warning Messages --------------*/
/*-------------- Info Messages --------------*/
/* line 461, ../../sass/dri/dri.scss */
.dri_info_message {
  margin: 20px 0 0 0;
  padding: 2px 10px 2px 10px;
  display: block;
  width: 710px;
  background-color: #DCECF6;
  -moz-border-radius: 2px;
  border-radius: 2px;
  border: 1px solid #288DC0;
  float: left;
}

/* line 473, ../../sass/dri/dri.scss */
.dri_info_message h1 {
  margin: 0;
  padding: 0;
  font-size: 110%;
  color: #288DC0;
  float: left;
  font-weight: normal;
  float: left;
}

/* line 482, ../../sass/dri/dri.scss */
.dri_info_message span.dri_close a {
  margin: 0;
  padding: 1px 0 0 0;
  font-size: 100%;
  color: #288DC0;
  font-weight: bold;
  float: right;
  text-decoration: none;
}

/*-------------- Successful Messages --------------*/
/* line 494, ../../sass/dri/dri.scss */
.dri_successful_message {
  margin: 20px 0 0 0;
  padding: 2px 10px 2px 10px;
  display: block;
  width: 710px;
  background-color: #D9F8B5;
  -moz-border-radius: 2px;
  border-radius: 2px;
  border: 1px solid #096;
  float: left;
}

/* line 506, ../../sass/dri/dri.scss */
.dri_successful_message h1 {
  margin: 0;
  padding: 0;
  font-size: 110%;
  color: #096;
  float: left;
  font-weight: normal;
  float: left;
}

/* line 515, ../../sass/dri/dri.scss */
.dri_successful_message span.dri_close a {
  margin: 0;
  padding: 1px 0 0 0;
  font-size: 100%;
  color: #096;
  font-weight: bold;
  float: right;
  text-decoration: none;
}

/*-------------- Warning Messages --------------*/
/* line 527, ../../sass/dri/dri.scss */
.dri_warning_message {
  margin: 20px 0 0 0;
  padding: 2px 10px 2px 10px;
  display: block;
  width: 710px;
  background-color: #F0E8B0;
  -moz-border-radius: 2px;
  border-radius: 2px;
  border: 1px solid #BC7F00;
  float: left;
}

/* line 538, ../../sass/dri/dri.scss */
.dri_warning_message h1 {
  margin: 0;
  padding: 0;
  font-size: 110%;
  color: #BC7F00;
  float: left;
  font-weight: normal;
  float: left;
}

/* line 547, ../../sass/dri/dri.scss */
.dri_warning_message span.dri_close a {
  margin: 0;
  padding: 1px 0 0 0;
  font-size: 100%;
  color: #BC7F00;
  font-weight: bold;
  float: right;
  text-decoration: none;
}

/*-------------- Error Messages --------------*/
/* line 558, ../../sass/dri/dri.scss */
.dri_error_message {
  margin: 20px 0 0 0;
  padding: 2px 10px 2px 10px;
  display: block;
  width: 710px;
  background-color: #FFD9DC;
  -moz-border-radius: 2px;
  border-radius: 2px;
  border: 1px solid  #E18191;
  float: left;
}

/* line 569, ../../sass/dri/dri.scss */
.dri_error_message h1 {
  margin: 0;
  padding: 0;
  font-size: 110%;
  color: #903;
  float: left;
  font-weight: normal;
  float: left;
}

/* line 578, ../../sass/dri/dri.scss */
.dri_error_message span.dri_close a {
  margin: 0;
  padding: 1px 0 0 0;
  font-size: 100%;
  color: #903;
  font-weight: bold;
  float: right;
  text-decoration: none;
}

/* ----------- Collection block ---------- */
/* line 590, ../../sass/dri/dri.scss */
.content_block_wrap {
  width: 730px;
  margin: 0 20px 0 20px;
  float: left;
  padding: 0;
}

/* line 596, ../../sass/dri/dri.scss */
.dri_content_block {
  margin: 0 20px 20px 0;
  padding: 0;
  width: 228px;
  float: left;
  display: block;
  color: #2F2F2F;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #E1E1E1;
  position: relative;
}

/* line 610, ../../sass/dri/dri.scss */
.dri_content_block.top {
  border-top: 5px solid #E1E1E1;
}

/* line 613, ../../sass/dri/dri.scss */
.dri_content_block.last {
  margin: 0 0 20px 0;
}

/* line 617, ../../sass/dri/dri.scss */
.dri_content_block .dri_high_view {
  background: url('../../images/high_view_icon.png') no-repeat;
}

/* line 622, ../../sass/dri/dri.scss */
.dri_content_block h1 {
  color: #2F2F2F;
  font-size: 110%;
  padding: 0;
  margin: 10px 14px 20px 14px;
  height: 35px;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* line 632, ../../sass/dri/dri.scss */
.dri_content_block h1 a {
  color: #2F2F2F;
  text-decoration: none;
}

/* line 636, ../../sass/dri/dri.scss */
.dri_content_block a:hover h1 {
  text-decoration: underline;
}

/* line 640, ../../sass/dri/dri.scss */
.dri_content_block h2 {
  color: #2F2F2F;
  font-size: 100%;
  padding: 0;
  margin: 4px 14px 4px 14px;
  font-weight: normal;
}

/* line 647, ../../sass/dri/dri.scss */
.dri_content_block h2 a {
  color: #2F2F2F;
}

/* line 650, ../../sass/dri/dri.scss */
.dri_content_block h2 a:hover {
  text-decoration: underline;
}

/* line 654, ../../sass/dri/dri.scss */
.dri_content_block h2.dri_editor {
  color: #808080;
  line-height: 1.4em;
  display: block;
  height: 36px;
  white-space: wrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* line 664, ../../sass/dri/dri.scss */
.dri_content_block h2.dri_editor a {
  color: #808080;
}

/* line 667, ../../sass/dri/dri.scss */
.dri_content_block h2.dri_editor a:hover {
  text-decoration: none;
}

/* line 670, ../../sass/dri/dri.scss */
.dri_content_block p {
  color: #2F2F2F;
  font-size: 100%;
  padding: 0;
  margin: 10px 10px 10px 10px;
}

/* line 677, ../../sass/dri/dri.scss */
.dri_image {
  padding: 0;
  margin: 0 14px 0 14px;
}

/* line 682, ../../sass/dri/dri.scss */
.dri_content_block .dri_stats {
  color: #808080;
  line-height: 1.4em;
  display: block;
  height: 26px;
  margin: 4px 14px 4px 14px;
  border-top: 1px solid #E1E1E1;
  padding: 4px 0 0 0;
}

/* line 691, ../../sass/dri/dri.scss */
.dri_content_block .dri_stats span.dri_object_num {
  color: #fff;
  display: block;
  height: 20px;
  width: 42px;
  padding: 3px 0 0 6px;
  margin: 0 8px 0 0;
  float: left;
  background: url('../../images/object_back.png') no-repeat;
}

/* line 701, ../../sass/dri/dri.scss */
.dri_content_block .stats span.dri_object_num a {
  color: #fff;
}

/* line 704, ../../sass/dri/dri.scss */
.dri_content_block .stats span.dri_object_num a:hover {
  text-decoration: underline;
}

/* line 708, ../../sass/dri/dri.scss */
.dri_content_block .dri_stats span.dri_view {
  margin: 4px 8px 0 0;
  display: block;
  height: 20px;
  padding: 3px 0 0 0;
  margin: 0 10px 0 0;
  float: left;
}

/* line 716, ../../sass/dri/dri.scss */
.dri_content_block .dri_stats span.dri_like {
  margin: 4px 8px 0 0;
  display: block;
  height: 20px;
  padding: 1px 0 0 0;
  margin: 0 10px 0 0;
  float: left;
}

/* line 724, ../../sass/dri/dri.scss */
.dri_content_block .dri_stats span.dri_comment {
  margin: 4px 8px 0 0;
  display: block;
  height: 20px;
  padding: 0;
  margin: 0 10px 0 0;
  float: left;
}

/*-------------- Footer navigation --------------*/
/* line 734, ../../sass/dri/dri.scss */
.dri_main_footer_navigation {
  margin: 100px 0 100px 0;
  padding: 0px;
  border-top: 1px solid #D9DADB;
  height: 40px;
}

/* line 740, ../../sass/dri/dri.scss */
.dri_main_footer_navigation ul {
  margin: 0px;
  padding: 0px;
}

/* line 746, ../../sass/dri/dri.scss */
.dri_main_footer_navigation li {
  float: left;
  margin: 10px 0 10px 0;
  padding: 0 20px 0 20px;
  font-size: 100%;
  font-weight: normal;
  list-style: none;
  text-decoration: none;
  border-right: 1px solid #D9DADB;
}

/* line 756, ../../sass/dri/dri.scss */
.dri_main_footer_navigation li a {
  list-style: none;
  text-decoration: none;
  color: #808082;
  margin: 0;
  padding: 0;
  display: block;
}

/* line 765, ../../sass/dri/dri.scss */
.dri_main_footer_navigation li a:hover {
  text-decoration: underline;
}

/* line 768, ../../sass/dri/dri.scss */
.dri_main_footer_navigation li.selected {
  text-decoration: underline;
}

/* line 771, ../../sass/dri/dri.scss */
.dri_main_footer_navigation li.no_border_right {
  border-right: none;
}

/* Third Party CSS */
/*
 * Dropit v1.0
 * http://dev7studios.com/dropit
 *
 * Copyright 2012, Dev7studios
 * Free to use and abuse under the MIT license.
 * http://www.opensource.org/licenses/mit-license.php
 */
/* These styles assume you are using ul and li */
/* line 788, ../../sass/dri/dri.scss */
.dropit {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* line 793, ../../sass/dri/dri.scss */
.dropit .dropit-trigger {
  position: relative;
}

/* line 794, ../../sass/dri/dri.scss */
.dropit .dropit-submenu {
  position: absolute;
  top: 100%;
  right: 10px;
  /* dropdown left or right */
  z-index: 1000;
  display: none;
  min-width: 150px;
  list-style: none;
  padding: 0;
  margin: 0;
}

/* line 805, ../../sass/dri/dri.scss */
.dropit .dropit-open .dropit-submenu {
  display: block;
}
