/*Import the Zen Grids files*/
/* Some useful variables*/
/* line 1, ../../sass/dri/dri.scss */
.dri_ident {
  background: url('../../images/dri/dri_ident.png?1385391350');
  background-repeat: no-repeat;
  height: 104px;
  margin: 20px;
}

/* line 11, ../../sass/dri/dri_layouts.scss */
.dri_wrapper {
  padding-left: 0;
  padding-right: 0;
  width: 1044px;
  margin: 0 auto;
}
/* line 46, ../../sass/zen/_grids.scss */
.dri_wrapper:before, .dri_wrapper:after {
  content: "";
  display: table;
}
/* line 50, ../../sass/zen/_grids.scss */
.dri_wrapper:after {
  clear: both;
}

/* line 21, ../../sass/dri/dri_layouts.scss */
.dri_header_container {
  padding-left: 10px;
  padding-right: 10px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  width: 100%;
  padding-left: 0;
  padding-right: 0px;
  margin-right: 20px;
}
/* line 46, ../../sass/zen/_grids.scss */
.dri_header_container:before, .dri_header_container:after {
  content: "";
  display: table;
}
/* line 50, ../../sass/zen/_grids.scss */
.dri_header_container:after {
  clear: both;
}
/* line 26, ../../sass/dri/dri_layouts.scss */
.dri_header_container .dri_authentication_menus_container {
  float: left;
  width: 25%;
  margin-left: 75%;
  margin-right: -100%;
  padding-left: 10px;
  padding-right: 10px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
}
/* line 30, ../../sass/dri/dri_layouts.scss */
.dri_header_container .dri_social_media_container {
  float: left;
  width: 25%;
  margin-left: 75%;
  margin-right: -100%;
  padding-left: 10px;
  padding-right: 10px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  float: left;
  clear: left;
}
/* line 38, ../../sass/dri/dri_layouts.scss */
.dri_header_container .dri_ident {
  float: left;
  width: 50%;
  margin-left: 0%;
  margin-right: -50%;
  padding-left: 10px;
  padding-right: 10px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
}

/* line 45, ../../sass/dri/dri_layouts.scss */
.dri_main_nav_container {
  padding-left: 10px;
  padding-right: 10px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  width: 100%;
  padding-left: 0;
  padding-right: 0px;
  margin-right: 20px;
}
/* line 46, ../../sass/zen/_grids.scss */
.dri_main_nav_container:before, .dri_main_nav_container:after {
  content: "";
  display: table;
}
/* line 50, ../../sass/zen/_grids.scss */
.dri_main_nav_container:after {
  clear: both;
}

/* line 52, ../../sass/dri/dri_layouts.scss */
.dri_sub_nav_container {
  padding-left: 10px;
  padding-right: 10px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  width: 100%;
  padding-left: 0;
  padding-right: 0px;
  margin-right: 20px;
}
/* line 46, ../../sass/zen/_grids.scss */
.dri_sub_nav_container:before, .dri_sub_nav_container:after {
  content: "";
  display: table;
}
/* line 50, ../../sass/zen/_grids.scss */
.dri_sub_nav_container:after {
  clear: both;
}

/* line 59, ../../sass/dri/dri_layouts.scss */
.dri_crumbtrail_nav_container {
  padding-left: 10px;
  padding-right: 10px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  width: 100%;
  padding-left: 0;
  padding-right: 0px;
  margin-right: 20px;
  float: left;
}
/* line 46, ../../sass/zen/_grids.scss */
.dri_crumbtrail_nav_container:before, .dri_crumbtrail_nav_container:after {
  content: "";
  display: table;
}
/* line 50, ../../sass/zen/_grids.scss */
.dri_crumbtrail_nav_container:after {
  clear: both;
}

/* line 66, ../../sass/dri/dri_layouts.scss */
.dri_search_features_nav_container {
  padding-left: 10px;
  padding-right: 10px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  width: 100%;
  padding-left: 0;
  padding-right: 0px;
  margin-right: 20px;
}
/* line 46, ../../sass/zen/_grids.scss */
.dri_search_features_nav_container:before, .dri_search_features_nav_container:after {
  content: "";
  display: table;
}
/* line 50, ../../sass/zen/_grids.scss */
.dri_search_features_nav_container:after {
  clear: both;
}
/* line 71, ../../sass/dri/dri_layouts.scss */
.dri_search_features_nav_container .dri_sort_nav {
  padding-left: 10px;
  padding-right: 10px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  width: 25%;
  padding-left: 0;
  padding-right: 15px;
  margin-right: 5px;
  float: left;
}
/* line 78, ../../sass/dri/dri_layouts.scss */
.dri_search_features_nav_container .dri_pager_nav {
  padding-left: 10px;
  padding-right: 10px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  width: 25%;
  padding-left: 0;
  padding-right: 15px;
  margin-right: 5px;
  float: left;
}
/* line 85, ../../sass/dri/dri_layouts.scss */
.dri_search_features_nav_container .dri_pagination_nav {
  padding-left: 10px;
  padding-right: 10px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  width: 25%;
  padding-left: 0;
  padding-right: 15px;
  margin-right: 5px;
  float: left;
}
/* line 92, ../../sass/dri/dri_layouts.scss */
.dri_search_features_nav_container dri_search_save_input {
  padding-left: 10px;
  padding-right: 10px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  width: 25%;
  padding-left: 0;
  padding-right: 15px;
  margin-right: 5px;
  float: left;
}

/* line 101, ../../sass/dri/dri_layouts.scss */
.dri_facet_restrictions_container {
  padding-left: 10px;
  padding-right: 10px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  width: 100%;
  padding-left: 0;
  padding-right: 0px;
  margin-right: 20px;
}
/* line 46, ../../sass/zen/_grids.scss */
.dri_facet_restrictions_container:before, .dri_facet_restrictions_container:after {
  content: "";
  display: table;
}
/* line 50, ../../sass/zen/_grids.scss */
.dri_facet_restrictions_container:after {
  clear: both;
}

/* line 108, ../../sass/dri/dri_layouts.scss */
.dri_messages_container {
  padding-left: 10px;
  padding-right: 10px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  width: 100%;
  padding-left: 0;
  padding-right: 0px;
  margin-right: 20px;
}
/* line 46, ../../sass/zen/_grids.scss */
.dri_messages_container:before, .dri_messages_container:after {
  content: "";
  display: table;
}
/* line 50, ../../sass/zen/_grids.scss */
.dri_messages_container:after {
  clear: both;
}

/* line 46, ../../sass/zen/_grids.scss */
.dri_main_content_container:before, .dri_main_content_container:after {
  content: "";
  display: table;
}
/* line 50, ../../sass/zen/_grids.scss */
.dri_main_content_container:after {
  clear: both;
}
/* line 119, ../../sass/dri/dri_layouts.scss */
.dri_main_content_container .dri_first_navigation_container {
  display: none;
  float: left;
  width: 25%;
  margin-left: 0%;
  margin-right: -25%;
  padding-left: 10px;
  padding-right: 10px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
}
/* line 126, ../../sass/dri/dri_layouts.scss */
.dri_main_content_container .dri_second_navigation_container {
  float: left;
  width: 25%;
  margin-left: 75%;
  margin-right: -100%;
  padding-left: 10px;
  padding-right: 10px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
}
/* line 133, ../../sass/dri/dri_layouts.scss */
.dri_main_content_container .dri_result_container {
  float: left;
  width: 75%;
  margin-left: 0%;
  margin-right: -75%;
  padding-left: 10px;
  padding-right: 10px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
}

/* line 140, ../../sass/dri/dri_layouts.scss */
.dri_main_footer {
  padding-left: 10px;
  padding-right: 10px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  width: 100%;
  padding-left: 0;
  padding-right: 0px;
  margin-right: 20px;
}
/* line 46, ../../sass/zen/_grids.scss */
.dri_main_footer:before, .dri_main_footer:after {
  content: "";
  display: table;
}
/* line 50, ../../sass/zen/_grids.scss */
.dri_main_footer:after {
  clear: both;
}

@media screen and (max-width: 1020px) {
  /* line 155, ../../sass/dri/dri_layouts.scss */
  .dri_wrapper {
    padding-left: 0;
    padding-right: 0;
    width: 700px;
    margin: 0 auto;
  }
  /* line 46, ../../sass/zen/_grids.scss */
  .dri_wrapper:before, .dri_wrapper:after {
    content: "";
    display: table;
  }
  /* line 50, ../../sass/zen/_grids.scss */
  .dri_wrapper:after {
    clear: both;
  }

  /* line 165, ../../sass/dri/dri_layouts.scss */
  .dri_header_container {
    padding-left: 10px;
    padding-right: 10px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
    width: 100%;
    padding-left: 0;
    padding-right: 0px;
    margin-right: 20px;
  }
  /* line 46, ../../sass/zen/_grids.scss */
  .dri_header_container:before, .dri_header_container:after {
    content: "";
    display: table;
  }
  /* line 50, ../../sass/zen/_grids.scss */
  .dri_header_container:after {
    clear: both;
  }
  /* line 175, ../../sass/dri/dri_layouts.scss */
  .dri_header_container .dri_authentication_menus_container {
    float: left;
    width: 100%;
    margin-left: 50%;
    margin-right: -150%;
    padding-left: 10px;
    padding-right: 10px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
  }
  /* line 180, ../../sass/dri/dri_layouts.scss */
  .dri_header_container .dri_social_media_container {
    float: left;
    width: 50%;
    margin-left: 50%;
    margin-right: -100%;
    padding-left: 10px;
    padding-right: 10px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
  }
  /* line 184, ../../sass/dri/dri_layouts.scss */
  .dri_header_container .dri_ident {
    float: left;
    width: 50%;
    margin-left: 0%;
    margin-right: -50%;
    padding-left: 10px;
    padding-right: 10px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
    background: url('../../images/dri/dri_ident_small.png?1385400624');
    background-repeat: no-repeat;
    height: 77px;
  }
}
