<h2>Select Collection</h2>

<%= form_tag :action=>"create" do %>
  <%= select_tag "ingestcollection",  options_for_select(get_collections{ |c| [c.title, c.pid] }), :prompt => "Select collection" %>
  <%= submit_tag "Continue", :class => "btn-primary btn-large", :id => "continue" %>

<% end %>

<%= button_to "New collection", new_collection_path, :id => "new_collection", :class => "btn", :method => :get %>
