<h2>Select Ingest Method</h2>

<%= form_tag :action=>"create", :method=>"post" do %>
  <%= select_tag "ingestmethod", options_for_select(@ingest_methods), :prompt => "Select ingest method"  %>
  <%= submit_tag "Continue", :class => "btn-primary btn-large", :id => "continue" %>
<% end %>

