<h2><%= t('dri.views.ingest.steps.standard') %></h2>

<%= form_tag :action=>"create" do %>
  <%= select_tag "standard",  options_for_select({ "DC" => "DRI::Metadata::QualifiedDublinCore", "Marc" => "DRI::Metadata::Marc" }, "DC"), :prompt => t('dri.views.ingest.forms.metadata_standard_prompt'), :required => "true" %>
    <%= submit_tag t('dri.views.ingest.buttons.continue'), :class => "btn-primary btn-large", :id => "continue" %>

<% end %>
