<h2><%= t('dri.views.ingest.steps.object_type') %></h2>

<%= form_tag :action=>"create" do %>

    <%= select_tag "ingesttype", options_for_select(@supported_types), :prompt => t('dri.views.ingest.forms.object_type_prompt'), :required => "true" %>

    <%= submit_tag t('dri.views.ingest.buttons.continue'), :class => "btn-primary btn-large", :id => "continue" %>

<% end %>
