<h4><%= t('dri.views.ingest.forms.title') %></h4>
<div class="dri_ingest_form_container">
<div class="dri_ingest_form">
<%= render "#{@current_step}_step" %>

<%= link_to t('dri.views.ingest.buttons.reset'), {:action => "new"}, :class => "btn" %>
</div>
</div>
