/*Import the Zen Grids files*/
@import "../zen/_grids.scss";
@import "../zen/_base.scss";
@import "../zen/background";
@import "main.scss";
@import "text.scss";
@import "containers.scss";

body {
	//@include zen-grid-background;
}

.dri_wrapper {
	width: 1024px;
	margin: 0 auto;
	$zen-column-count:4;
}

.dri_object_view {
	@include zen-grid-item(4,1);
}

.dri_search_terms_block {
	@include zen-grid-item (2,1);
}


.dri_header_container {	
	height: 140px;
} 

.dri_ident {
  	@include zen-grid-item(2, 1);
}

.dri_header_menus_container {

  @include zen-grid-item(3, 2);
  @include zen-grid-container;
  @include zen-nested-container();
} 

.dri_login_and_account_container {
	width:290px;
	float:right;
	@include zen-grid-item(1, 4);
}

.dri_social_nav {
	@include zen-clear();
  	@include zen-grid-item(1, 4);
}

.dri_search_nav_container {
  
  @include zen-grid-item(0,1);
}

.dri_search_results_container {
  
  @include zen-grid-item(0, 1);


  width: 1010px;
  margin: auto;
}


.dri_search_result_block {
  @include zen-grid-flow-item(1, 4, $alpha-gutter: true, $omega-gutter: false);
  @include zen-float;
  //@include zen-clear;

}
 
.dri_facet_filters_block {
  @include zen-grid-item(1, 0);
  @include zen-float;
  //padding: 0 0 0 0;
  
}