$dri_green: #90993d;
$dri_grey: #2f2f2f;
$dri_greytext: gray;
$dri_darkgrey: #2e2e2e;
$dri_extra_lightgray: #9e9e9e;
$dri_lightgrey: #b3b3b3;
$dri_thingrey: #d9dadb;

$dri_logo_url: "dri/dri_ident.png";
$dri_logo_small_url: 'dri/dri_ident_small.png';
