/*Import the Zen Grids files*/
@import "bootstrap.scss";
@import "bootstrap-player.scss";
@import "../zen/_grids.scss";
@import "../zen/_base.scss";
@import "../zen/_background";
@import "dri.scss";
@import "../smoothness/jquery-ui.scss";
@import "dri_pages.scss";


.dri_wrapper {
	//@include zen-grid-container;
	//@include zen-nested-container;
	width: 1024px;
	margin: 0 auto;
	$zen-column-count:4;

  	//@include zen-grid-background ( $grid-color: #eee);
}

.dri_header_container {

  	@include zen-grid-container;
	  //@include zen-grid-flow-item(1, 1);
	 	
  	.dri_authentication_menus_container {
  	  	@include zen-grid-item(1, 4);
		}
		
	  .dri_social_media_container {
	
		@include zen-grid-item(1, 1.8);
  		//@include zen-float();
		@include zen-clear();
		
		}
		
	 .dri_ident {
		
		@include zen-grid-item(1.25, 1);
		
	}
	 .dri_search_term_input {
  
    @include zen-grid-item(1, 4);
    padding-left: 30px;
    padding-top: 45px;
  }
}

.dri_main_nav_container {
	
  @include zen-grid-container;
	@include zen-grid-flow-item(1, 1);
  	
}


.dri_sub_nav_container {

  	@include zen-grid-container;
	  @include zen-grid-flow-item(1, 1);

}

.dri_crumbtrail_nav_container {

  	@include zen-grid-container;
	  @include zen-grid-flow-item(1, 1);
  	@include zen-float();
}

.dri_search_features_nav_container {

  	//@include zen-grid-container;
	  @include zen-grid-flow-item(1, 1, $alpha-gutter: 20px, $omega-gutter: 0px);
	  padding-right: 24px;
   	
	  .dri_sort_nav {
	
		@include zen-grid-item(1, 1, $gutter-width: 0px);
		//@include zen-float();
		
	  }
	  
	  .dri_display_grid_table_nav {
	
		@include zen-grid-item(1, 1.7);
		//@include zen-float();
		
	}
		
	.dri_pager_nav {
	
		@include zen-grid-item(1, 2);
		//@include zen-float();
		
	}
	
	.dri_pagination_nav {
	
		@include zen-grid-item(1.5,2.5);

		
	}
	
	.dri_document_pagination_nav {
	
		@include zen-grid-item(1, 4);
		@include zen-float();
		
	}
	

		
		.dri_search_save_input {
		
			  	@include zen-clear();
			
		}
		

	


}

.dri_facet_restrictions_container {
	
  	@include zen-grid-container;
	@include zen-grid-flow-item(3, 4, $alpha-gutter: 20px);

}

.dri_messages_container {
	 
  @include zen-grid-container;
	@include zen-grid-flow-item(3, 4.3, $alpha-gutter: 20px);
	padding-bottom: 10px;
	
}

.dri_welcome_block {
	@include zen-grid-item(1.3, 1, $gutter-width: 0);


	
}

.dri_slideshow_block {


	@include zen-grid-item(2.5, 2.5);
	padding-top: 30px;
	//border: 1px solid lightgray;
	//@include zen-grid-item(2, 3, $gutter-width: 80px);

}

.dri_result_container {
	
}

.dri_main_content_container {

  	@include zen-grid-container;
  	@include zen-grid-item(4, 1);
  	margin-left: 10px;
  	
  	.dri_login_form_container {

  	margin: auto;
		width:450px;
  		
  	}
  	 	
  	.dri_first_navigation_container {
  		
  	  	display: none;
  		@include zen-grid-item(1, 1, $gutter-width: 0px);

  	}
  	
  	.dri_second_navigation_container {
  	
  		//display: none;
  		@include zen-grid-item(1, 4, $gutter-width: 0px);
  		//@include zen-grid-background ( $grid-color: #eee);

  	}
  	
  	.dri_result_container {
  	  	@include zen-grid-item(3, 1, $gutter-width: 0px);
  	  	//@include zen-grid-background ( $grid-color: #eee);
  	}
  	

  	.dri_object_container {
  	  	@include zen-grid-item(4, 1, $gutter-width: 0px);
  	  	//@include zen-grid-background ( $grid-color: #eee);
  	}
  	
	
	
	.dri_object_first_block {
		@include zen-grid-item(2, 1, $gutter-width: 0px);
		@include zen-clear();

		
	}
	
	.dri_object_second_block {
		@include zen-grid-item(1, 3, $gutter-width: 0px);



	}
	.dri_object_institutes_block {
		@include zen-grid-item(4, 1, $gutter-width: 0px);
				@include zen-clear();
				
				.dri_institutes_show_more {
				 	@include zen-clear();
				}

	}
}

.dri_main_footer {

}
  	
  	.dri_footer_address {
  	  float: right;
  	  text-align: right;
  	}
	


// Hide, clear etc.

.dri_clearfix {
	@include zen-clear();
}

.dri_invisible {
	visibility:hidden;
}

.dri_uppercase {
	text-transform:uppercase;
}

.dri_capitalize {
	text-transform:capitalize;
}

.dri_no_display {
	display: none;
}

.dri_float_right {
	float: right;
}

.dri_float_left {
	float: left;
}

@media screen and (max-width:1043px) {
	
	
	.dri_wrapper {
	//@include zen-grid-container;
	//@include zen-nested-container;
	width: 800px;
	margin: 0 auto;
	$zen-column-count:3;


}

.dri_main_content_container {
    .dri_result_container {
        @include zen-grid-item(2, 1, $gutter-width: 0px);
        //@include zen-grid-background ( $grid-color: #eee);
    }
        .dri_second_navigation_container {
    
      //display: none;
      @include zen-grid-item(1, 3, $gutter-width: 0px);
      //@include zen-grid-background ( $grid-color: #eee);

    }
    .dri_object_title_top {

  width: 77%;
}
    
    .dri_asset_holder {
margin: 20px 0 0 0;
padding: 0px;
width: 350px;
display: block;
}

}
.dri_browse_sort_tabs {
margin: 0 0 0 0;
padding: 0;
float: left;
width: 81%;
border-bottom: 1px solid #D9DADB;
}

.dri_header_container {


	


  	
  	.dri_authentication_menus_container {
  	  	@include zen-grid-item(3, 1);
        
		}
		
	.dri_social_media_container {
        @include zen-grid-item(2, 1);

		}
		
	.dri_ident {
		
		@include zen-grid-item(1, 1);
		background: image-url('dri/dri_ident_small.png');
		background-repeat: no-repeat;
		height: 77px;
		margin-left: 3px;
		//margin: 20px;
	}
	
	  .dri_search_term_input {
  
    @include zen-grid-item(1, 3);
    padding-left: 30px;
    padding-top: 45px;
  }
	

}




}








































