@media print {
  div:not([dri_object_metadata_readview]) {
    visibility: hidden;
  }

  .dri_object_metadata_readview {
    visibility: visible !important;
    position: fixed;
    top: 0px;
    left: 0px; 
    width: 100%;
    z-index: 9999;
    background-color: #ffffff;
  }
}
