
.dri_about_container {
   //@include zen-float();
    $zen-column-count:12;
    $bgcolour-1: #111;
    $bgcolour-2: #eee;
    $bgcolour-3: #ddd;
    $bgcolour-4: #ccc;
    $bgcolour-5: #bbb;
    $about-text-1: #fff;
    
 

  
    .dri_about_01 {
      @include zen-grid-item(3.9, 1);      
    }
    .dri_about_02 {
      @include zen-grid-item(3.9, 5);      
    }
    .dri_about_03 {
      @include zen-grid-item(4, 9);      
    }
    .dri_about_04 {
      @include zen-clear();
      @include zen-grid-item(12, 1); 
      background-color: $bgcolour-1;
      p {
        color: $about-text-1;
      }   
    }
    .dri_about_05 {
      @include zen-clear();
      @include zen-grid-item(6, 0.89);     
    }
    .dri_about_06a {
      @include zen-nested-container();
      @include zen-grid-item(6, 7);   
    }
    .dri_about_06 {
      //@include zen-grid-item(1, 6);   
    }

    .dri_about_06b {
       //@include zen-grid-item(6, 1);
    }
    .dri_about_07 {
      @include zen-clear();
      @include zen-grid-item(3.85, 1, $gutter-width: 20px);  
            background-color: $bgcolour-2;    
    }
    .dri_about_08 {
      @include zen-grid-item(3.85, 5);     
            background-color: $bgcolour-3; 
    }
    .nested {
      @include zen-grid-item(3.85, 9);
      @include zen-nested-container();
    }
    .dri_about_09 {
      @include zen-grid-item(12, 1);  
    }
    .dri_about_10 {
      @include zen-clear();
      @include zen-grid-item(12, 1);    
    }
  
}








































