<div class="dri_about_container">
	<div class="dri_about_01">
		<h1> CREATE ARCHIVE SHARE. </h1>

	</div>
	<div class="dri_about_02">
		<h4> The Digital Repository of

		Ireland is an interactive

		trusted digital repository for

		contemporary and historical,

		social and cultural data held

		by Irish institutions. </h4>

	</div>
	<div class="dri_about_03">

		<h4>Sign Up to become a user of DRI</h4>

		<p>
			Info....voluptatem accusantium

			doloremque laudantium, totam rem

			aperiam, eaque ipsa quae ab illo

			inventore veritatis et quasi architecto

			beatae vitae dicta sunt explicabo.
		</p>
		<div class="dri_grey_button" >
			<%= link_to t('dri.application.home.links.register_dri'), user_group.new_user_path %>
		</div>

	</div>
	<div class="dri_about_04">
		<p>
			About the Repository
		</p>

	</div>
	<div class="dri_about_05">
		<p>
			The Digital Repository of Ireland is a national trusted digital repository

			for Ireland's social and cultural data. The repository will link together and

			preserve both historical and contemporary data held by Irish institutions,

			providing a central internet access point and interactive multimedia tools.

			As a national e-infrastructure for the future of education and research in

			the humanities and social sciences, DRI will be available for use by the

			public, students and scholars.
		</p>
		<p>
			The Digital Repository of Ireland is built by a research consortium of six

			academic partners working together to deliver the repository, policies,

			guidelines and training. These research consortium partners are:

			Royal Irish Academy (RIA, lead institute), National University of Ireland,

			Maynooth (NUIM), Trinity College Dublin (TCD),

			Dublin Institute of Technology (DIT), National University of Ireland,

			Galway (NUIG), and National College of Art and Design (NCAD).

			DRI is also supported by a network of academic, cultural, social, and

			industry partners, including the National Library of Ireland (NLI), the

			National Archives of Ireland (NAI) and RTÉ. Originally awarded €5.2M

			from the Higher Education Authority PRTLI Cycle 5 for the period of

			2011-2015, DRI has also received awards from Enterprise Ireland,

			Science Foundation Ireland, The European Commission's Seventh

			Framework Programme (FP7) and the Ireland Funds, and has extended

			its funding out to 2019.
		</p>
		<p>
			We at the Digital Repository of Ireland believe our national mandate is

			best achieved through partnership, so we are building relationships and

			collaborations with national and international centres of excellence in

			digital preservation, and with the owners and custodians of

			cultural and social content.
		</p>

	</div>
	<div class="dri_about_06a">
		<div class="dri_about_06">

		</div>

		<div class="dri_about_06b dri_clearfix">
			<h3><span class="dri_colour_text">Digitise</span> your content and explore collections</h3>
		</div>
	</div>

	<div class="dri_about_07">
		<h1>Vision</h1>
		<p>
			The Digital Repository of Ireland will

			link together and preserve the rich data

			held by Irish institutions, providing a

			central internet access point and

			interactive multimedia tools.

			DRI will be an educational resource

			used by the public, students and scholars,

			and will provide preservation and access

			services for our stakeholders and partners.

			DRI will act as a focal point for the

			development of national guidelines and

			policy for digital preservation and access.
		</p>

	</div>
	<div class="dri_about_08">
		<h1>Policy</h1>
		<p>
			Aenean nec lacus ut elit molestie mattis. Maecenas ut ultrices elit. Vitae dignissim quam velit nec lorem. In in justo nec nisi fermentum laoreet. Duis eleifend dolor cursus metus iaculis, in vulputate orci dignissim. Vestibulum vel volutpat justo. Cras egestas molestie bibendum. Sed at sapien sapien.
		</p>

		<ul>
			<li>
				Privacy
			</li>
			<li>
				Metadata
			</li>
		</ul>

	</div>
	<br />
	<div class="nested">
		<div class="dri_about_09">
			<%= link_to "http://apps.dri.ie/locationLODer/", :target => "_blank" do %><h2>Location LODer Live &raquo;</h2><% end %>
		</div>
		<div class="dri_about_10">
            <%= link_to "http://www.inspiring-ireland.ie/", :target => "_blank" do %><h2>Inspiring Ireland Live &raquo;</h2><% end %>
		</div>
	</div>

</div>