<div class="dri_about_container">
	<div class="dri_about_01">
		CREATE

		ARCHIVE

		SHARE.
	</div>
	<div class="dri_about_02">
		The Digital Repository of

		Ireland is an interactive

		trusted digital repository for

		contemporary and historical,

		social and cultural data held

		by Irish institutions.
	</div>
	<div class="dri_about_03">

		Sign Up to become a member of DRI

		Info....voluptatem accusantium

		doloremque laudantium, totam rem

		aperiam, eaque ipsa quae ab illo

		inventore veritatis et quasi architecto

		beatae vitae dicta sunt explicabo.
	</div>
	<div class="dri_about_04">
		About the Repository
	</div>
	<div class="dri_about_05">
		The Digital Repository of Ireland is a national trusted digital repository

		for Ireland's social and cultural data. The repository will link together and

		preserve both historical and contemporary data held by Irish institutions,

		providing a central internet access point and interactive multimedia tools.

		As a national e-infrastructure for the future of education and research in

		the humanities and social sciences, DRI will be available for use by the

		public, students and scholars.

		The Digital Repository of Ireland is built by a research consortium of six

		academic partners working together to deliver the repository, policies,

		guidelines and training. These research consortium partners are:

		Royal Irish Academy (RIA, lead institute), National University of Ireland,

		Maynooth (NUIM), Trinity College Dublin (TCD),

		Dublin Institute of Technology (DIT), National University of Ireland,

		Galway (NUIG), and National College of Art and Design (NCAD).

		DRI is also supported by a network of academic, cultural, social, and

		industry partners, including the National Library of Ireland (NLI), the

		National Archives of Ireland (NAI) and RTÉ. Originally awarded €5.2M

		from the Higher Education Authority PRTLI Cycle 5 for the period of

		2011-2015, DRI has also received awards from Enterprise Ireland,

		Science Foundation Ireland, The European Commission's Seventh

		Framework Programme (FP7) and the Ireland Funds, and has extended

		its funding out to 2019.

		We at the Digital Repository of Ireland believe our national mandate is

		best achieved through partnership, so we are building relationships and

		collaborations with national and international centres of excellence in

		digital preservation, and with the owners and custodians of

		cultural and social content.
	</div>
	<div class="dri_about_06">
		6
	</div>
	<div class="dri_about_07">
		7
	</div>
	<div class="dri_about_08">
		8
	</div>
	<br />
	<div class="dri_about_nested">
		<div class="dri_about_09">
			9
		</div>
		<div class="dri_about_10">
			10
		</div>
	</div>

</div>