<div class="row">
	<div class="span4 dri_about_box">
		<h1>CREATE
		<br>
		ARCHIVE
		<br>
		SHARE</h1>
	</div>
	<div class="span4 dri_about_box">
		...
	</div>
	<div class="span4 dri_about_box">
		...
	</div>
</div>
<div class="row">
	<div class="span12 dri_about_box">
		...
	</div>
</div>
<div class="row">
	<div class="span6 dri_about_box">
		...
	</div>
	<div class="span6 dri_about_box">
		...
	</div>
</div>
<div class="row">
	<div class="span4 dri_about_box">
		...
	</div>
	<div class="span4 dri_about_box">
		...
	</div>
	<div class="row">
		<div class="span2 dri_about_box">
			Level 2
		</div>
		<div class="span2 dri_about_box">
			Level 2
		</div>
	</div>
</div>