<div><div class="dri_collection_institutes_pages"> 
        <a href="http://dri.ie" ><img alt="Digital%20repository%20of%20ireland"  src="http://objects.dri.ie/institutelogos/Digital%20Repository%20of%20Ireland.png"></a>
      </div>
      <div style="float:right"> 
        <h5>Digital%20repository%20of%20ireland </h5>
      </div></div>
<div class="dri_collection_institutes_pages"> 
        <a href="http://www.tcd.ie/" ><img alt="Dris,%20trinity%20college%20dublin"  src="http://objects.dri.ie/institutelogos/DRIS,%20Trinity%20College%20Dublin.png"></a>
      </div>
<div class="dri_collection_institutes_pages"> 
        <a href="http://www.nli.ie" ><img alt="National%20library%20of%20ireland"  src="http://objects.dri.ie/institutelogos/National%20Library%20of%20Ireland.jpg"></a>
      </div>
<div class="dri_collection_institutes_pages"> 
        <a href="http://www.iqda.ie/" ><img alt="Irish%20qualitative%20data%20archive"  src="http://objects.dri.ie/institutelogos/Irish%20Qualitative%20Data%20Archive.jpg"></a>
      </div>
<div class="dri_collection_institutes_pages"> 
        <a href="http://www.museum.ie/" ><img alt="National%20museum%20of%20ireland"  src="http://objects.dri.ie/institutelogos/National%20Museum%20of%20Ireland.jpg"></a>
      </div>
<div class="dri_collection_institutes_pages"> 
        <a href="http://www.rte.ie/rnag/" ><img alt="Rt%c3%89%20raidi%c3%b3%20na%20gaeltachta"  src="http://objects.dri.ie/institutelogos/RT%C3%89%20Raidi%C3%B3%20na%20Gaeltachta.jpg"></a>
      </div>
      <div class="dri_collection_institutes_pages"> 
        <a href="http://www.nuigalway.ie/ie/" ><img alt="Ollscoil%20na%20h%c3%89ireann,%20gaillimh"  src="http://objects.dri.ie/institutelogos/Ollscoil%20na%20h%C3%89ireann,%20Gaillimh.jpg"></a>
      </div>
      <div class="dri_collection_institutes_pages"> 
        <a href="http://dit.ie" ><img alt="Dublin%20institute%20of%20technology"  src="http://objects.dri.ie/institutelogos/Dublin%20Institute%20of%20Technology.png"></a>
      </div>
      <div class="dri_collection_institutes_pages"> 
        <a href="http://www.nationalarchives.ie/" ><img alt="National%20archives%20of%20ireland"  src="http://objects.dri.ie/institutelogos/National%20Archives%20of%20Ireland.png"></a>
      </div>
      <div class="dri_collection_institutes_pages"> 
        <a href="http://www.imma.ie/" ><img alt="Irish%20museum%20of%20modern%20art"  src="http://objects.dri.ie/institutelogos/Irish%20Museum%20of%20Modern%20Art.jpg"></a>
      </div>
      <div class="dri_collection_institutes_pages"> 
        <a href="http://www.crawfordartgallery.ie/" ><img alt="Crawford%20art%20gallery%20cork"  src="http://objects.dri.ie/institutelogos/Crawford%20Art%20Gallery%20Cork.jpg"></a>
      </div>
      <div class="dri_collection_institutes_pages"> 
        <a href="http://www.nationalgallery.ie/" ><img alt="National%20gallery%20of%20ireland"  src="http://objects.dri.ie/institutelogos/National%20Gallery%20of%20Ireland.jpg"></a>
      </div>
      <div class="dri_collection_institutes_pages"> 
        <a href="http://www.abbeytheatre.ie/" ><img alt="The%20abbey%20theatre"  src="http://objects.dri.ie/institutelogos/The%20Abbey%20Theatre.jpg"></a>
      </div>
      <div class="dri_collection_institutes_pages"> 
        <a href="http://www.cbl.ie/" ><img alt="Chester%20beatty%20library"  src="http://objects.dri.ie/institutelogos/Chester%20Beatty%20Library.jpg"></a>
      </div>