common: &common

development:
  <<: *common
  data.logainm.ie:
    provider: Logainm 
    endpoint: http://data.logainm.ie/sparql
  data.dri.ie:
    provider: Sparql
    endpoint: http://data.dri.ie/sparql

test:
  <<: *common
  data.logainm.ie:
    provider: Logainm
    endpoint: http://data.logainm.ie/sparql

production:
  <<: *common
  data.logainm.ie:
    provider: Logainm
    endpoint: http://data.logainm.ie/sparql
