/*-------------- Button Styling--------------*/

@mixin small_button {
  font-size: 100%;
  padding: 0px 5px 0px 5px;
  margin: 2px 0px 0px 0px;
}

.btn-default{
  &:hover{
    background-color: $dri_select;
  }
}

.dri_button {
  font-size: 100%;
  color:$dri_black;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border: $dri_black;
  padding: 6px 10px 6px 10px;
  text-align: center;
}

.dri_button_green {
  @extend .dri_button;
  background-color: $dri_green;
  &:hover{
    background-color: darken($dri_green, 20%);
    color: $dri_white;
  }
}

.dri_button_green_small {
  @extend .dri_button_green;
  @include small_button;
}

.dri_button_red {
  @extend .dri_button;
  background-color: $dri_red !important;
  color: $dri_black;
  &:hover {
    background-color: darken($dri_red, 20%);
    color: $dri_white
  }
}

.dri_button_red_small {
  @extend .dri_button_red;
  @include small_button;
  background-color: $dri_red;
}

.dri_button_grey {
  @extend .dri_button;
  background-color: $dri_lightgrey;
}

.dri_button_grey:hover {
  background-color: darken($dri_lightgrey, 10%);
}

.dri_button_grey_small {
  @extend .dri_button_grey;
  @include small_button;
}

.dri_button_black {
  @extend .dri_button;
  background-color: $dri_grey;
  color: $dri_white;
  border: 1px solid transparent;
  text-decoration: none;
  &:hover {
    background-color: $dri_white;
    color: $dri_black;
    border-color: $dri_black;
  }
}

.btn {
  @extend .dri_button;
  margin: 2px;
  display: inline-block;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: none;
  white-space: nowrap;
  padding: 0;
  margin: 0;
  font-size: 100%;
  line-height: none;
  @include border_radius (3px);
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.dri-btn-close {
  @extend .btn-close;
  float: right;
}

.dri_w230 {
  width: 230px;
}

.dri_w330 {
  width: 330px;
}

/*-------------- Save Search --------------*/

.dri_search_save_submit_button {
  @extend .dri_button_green;
  float: right;
  padding: 6px;
  margin: 3px;
}

button.dri_open_workspace_button {
  color: $dri_white;
  border: none;
  background-color: $dri_teal;
  padding: 0;
  margin: 20px 0 20px 0;
  width: 230px;
  height: 26px;
  display: block;
  @include border_radius;
  font-weight: bold;
  &:hover {
      background-color: darken($dri_teal, 20%);
  }
}
