<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description>DRI &apos;nuig-rnag&apos; gem</description>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <scm class="hudson.plugins.git.GitSCM" plugin="git@1.4.0">
    <configVersion>2</configVersion>
    <userRemoteConfigs>
      <hudson.plugins.git.UserRemoteConfig>
        <name></name>
        <refspec></refspec>
        <url>ssh://git@tracker.dri.ie/navr/nuig-rnag</url>
      </hudson.plugins.git.UserRemoteConfig>
    </userRemoteConfigs>
    <branches>
      <hudson.plugins.git.BranchSpec>
        <name>**</name>
      </hudson.plugins.git.BranchSpec>
    </branches>
    <disableSubmodules>false</disableSubmodules>
    <recursiveSubmodules>true</recursiveSubmodules>
    <doGenerateSubmoduleConfigurations>false</doGenerateSubmoduleConfigurations>
    <authorOrCommitter>false</authorOrCommitter>
    <clean>true</clean>
    <wipeOutWorkspace>false</wipeOutWorkspace>
    <pruneBranches>false</pruneBranches>
    <remotePoll>false</remotePoll>
    <ignoreNotifyCommit>false</ignoreNotifyCommit>
    <useShallowClone>false</useShallowClone>
    <buildChooser class="hudson.plugins.git.util.DefaultBuildChooser"/>
    <gitTool>Default</gitTool>
    <submoduleCfg class="list"/>
    <relativeTargetDir></relativeTargetDir>
    <reference></reference>
    <excludedRegions></excludedRegions>
    <excludedUsers></excludedUsers>
    <gitConfigName></gitConfigName>
    <gitConfigEmail></gitConfigEmail>
    <skipTag>false</skipTag>
    <includedRegions></includedRegions>
    <scmName></scmName>
  </scm>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers>
    <hudson.triggers.SCMTrigger>
      <spec>@hourly</spec>
      <ignorePostCommitHooks>false</ignorePostCommitHooks>
    </hudson.triggers.SCMTrigger>
  </triggers>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>#!/bin/bash

p=http://proxy.tchpc.tcd.ie:8080
export http_proxy=$p
export https_proxy=$p
export ftp_proxy=$p
export HTTP_PROXY=$p
export HTTPS_PROXY=$p
export FTP_PROXY=$p
export rvm_proxy=$p

git reset --hard

git submodule init jetty || exit 100
git submodule update jetty || exit 100

cd jetty
git reset --hard HEAD || exit 100
git clean -dfx || exit 100
cd ..

export DRI_BUNDLE_ENV=tchpc

cp config/fedora.yml.sample config/fedora.yml
cp config/solr.yml.sample config/solr.yml
cp config/database.yml.sample config/database.yml

source ~/.bash_profile
rvm list
rvm use ruby-2.0.0-p195
rvm use ruby-2.0.0-p195@nuig-rnag --create || exit 100
rvm --force gemset empty ruby-2.0.0p195@nuig-rnag || exit 100
rm Gemfile.lock
bundle install --quiet || exit 100
bundle exec rake db:seed
bundle exec rake db:test:prepare
bundle exec rake db:migrate
bundle exec rake ci
</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers/>
  <buildWrappers/>
</project>
