<!--overides view params if missing-->
<% if (params[:view].blank?) %>
    <% params[:view] = "grid" %>
<% end %>

<% @page_title = t('blacklight.search.title', :application_name => application_name) %>

<% extra_head_content << render_opensearch_response_metadata.html_safe %>

<%= render :partial => 'did_you_mean' %>
<div id="dri_second_navigation_container_id"
     class="dri_second_navigation_container">
  <!-- facet block -->
  <div class="dri_facet_filters_block" id="sidebar">
    <%= render :partial => 'facets' %>
  </div>
  <!-- close facet block -->
</div>

<div id="dri_result_container_id" class="dri_result_container">

  <% if(params[:view] == "grid") %>
      <!--TBR-->
      <h1>Grid</h1>
      <%= render_document_index @document_list %>
  <% else %>
      <!--TBR-->
      <h1>List</h1>
      <%= render :partial => "catalog/browse_view_list", :locals => {:document_list => @document_list} %>
  <% end %>
</div><!-- close dri_result_container -->