<% if @timeline_data %>
  <%= content_tag "div", id: "dri_timeline_id", style: "height:550px", data: { total_count: @response.total_count, total_pages: @response.total_pages, current_page: @response.current_page, timeline_data: @timeline_data }  do %>
    <%= tag(:div, id: "time_line") %>
  <% end %>
<% else %>
  <h4>
    <%= t('dri.help.no_results_found') %>
  </h4>
  <p>
    <%= t('dri.application.timeline.description.no_results') %>
  </p>
<% end %>