<% valid_object_count = get_valid_timeline_count params %>

<% if valid_object_count > 0 %>
    <script>
        $(document).ready(function() {
            createStoryJS({
                type: 'timeline',
                height: '400',
                source: '<%= timeline_json_path(params) %>',
                embed_id: 'time_line'
            });
        });
    </script>
    <div class="dri_timeline">
            <div id="time_line" ></div>
    </div>

<% else %>
    <h4>
      <%= t('dri.help.no_results_found') %>
    </h4>
    <p>
      <%= t('dri.application.timeline.description.no_results') %>
    </p>
<% end %>