<script>
    $(document).ready(function() {
        createStoryJS({
            type: 'timeline',
            width: '100%',
            height: '400',
            source: '<%= timeline_json_path(params) %>',
            embed_id: 'time_line'
        });
    });
</script>

<div id="time_line"></div>