<article class="">
		<div class="dri_content_block">
			<%= link_to (child[1])  do %>
			<h1><%= child[0] %></h1>
			<% end %>
			<div class="dri_icon">
				<span class="dri_icon_image"><% if child[2] == 'Item'%><i class="fa fa-file"></i><% else %><i class="fa fa-folder"></i><% end %>
				&nbsp;<%= child[2] %></span>
			</div>
			<!-- close dri_icon -->

		</div>
		<!-- close content_block -->
</article>