<div class="dri_facet_restrictions_container dri_no_display">
         <ul id="dri_browse_sort_tabs" class="dri_browse_sort_tabs">
                <li><a href="#" class="selected">Collections <span class="tab_total_number">(20)</span></a></li>
                <li><a href="#">Objects <span class="tab_total_number">(104)</span></a></li>
            </ul>
        </div>
<!-- close dri_facet_restrictions_container -->
