<div class="dri_facet_restrictions_container">
    <ul id="dri_browse_sort_tabs" class="dri_browse_sort_tabs">
        <li>
            <a>All</a><!-- remove type facet restriction -->
        </li>
        <li class="selected">
            <a>Collections</a><!-- set type=collection facet restriction -->
        </li>
        <li>
            <a>Objects</a><!-- set type="no collection" facet restriction -->
        </li>

    </ul>

</div>
<!-- close dri_facet_restrictions_container -->
