<div id="dri_facet_restrictions_container_id"
     class="dri_facet_restrictions_container">
  <ul id="dri_facet_restrictions_links_id"
      class="dri_facet_restrictions_links">

    <%= render_constraints(params) %>

    <% copyParams = params %>
    <% if copyParams[:mode].nil? %>
        <% copyParams[:mode] = "objects" %>
        <% copyParams[:search_field] = "all_fields" %>
    <% end %>
    <% copyParams.delete(:f) %>
    <% copyParams.delete(:q) %>

    <span class="dri_clear_all">
      <%= link_to t('dri.views.catalog.buttons.clear_search_facet_list'), main_app.catalog_index_path(copyParams), :id => "browse" %>
    </span>
  </ul>
</div>
<!-- close dri_facet_restrictions_container -->
