<% get_cover_image document %>

<a href="#">
  <h1>
    <!-- <%= t('blacklight.search.documents.counter', :counter => (document_counter + 1 + @response.params[:start].to_i)) %> -->
    <%= link_to_document document, :label => document_show_link_field, :counter => (document_counter + 1 + @response.params[:start].to_i) %>
  </h1>
  <div class="dri_image">

    <%= image_tag @cover_image, :width=>"200", :height=>"80" %>

  </div><!-- close image -->
</a>

