<% get_cover_image document %>

<%= link_to(document, :data => {:counter => (document_counter + 1 + @response.params[:start].to_i)}) do %>
<h1><%= document[:title_tesim][0] %></h1>
<div class="dri_image">

	<%= image_tag @cover_image, :width=>"200" %>

</div><!-- close image -->
<% end %>
