<ul class="facet-values list-unstyled">
  <% paginator = facet_paginator(facet_field, display_facet) %>
  <%= render_facet_limit_list paginator, solr_field %>

  <% unless paginator.last_page? || params[:action] == "facet" %>
      <li><%= link_to t('blacklight.search.facets.more'), catalog_facet_path(params.merge(id: solr_field))%></li>
      <!--how it should be-->
      <!--<li><%# link_to t('blacklight.search.facets.more'), catalog_facet_path(params.merge(id: solr_field)), :data => {:ajax_modal => "trigger"}%></li>-->

  <% end %>
</ul>
