<% # main container for facets/limits menu -%>
<% if has_facet_values?  %>

<div id="facets" class="facets sidenav dri_facet_filters">
	
	<span class="dri_head_title"><%= t('blacklight.search.facets.title') %></span> 
	<span class="dri_search_num"><%= @response.response[:numFound] %></span>
	<div class="facets-collapse">
        <%= render_facet_partials %>
    </div>
</div>



<% end %>

