<ul class="facet-values list-unstyled">
  <% paginator = facet_paginator(facet_field, display_facet) %>
  <% paginator.items.each do |item| -%>
      <li>
        <% if facet_in_params?( solr_field, item.value ) %>
            <%= render_selected_facet_value(solr_field, item) %>
        <% else %>
            <%= render_facet_value(solr_field, item) %>
        <% end -%>
      </li>
  <% end %>

  <% unless params[:action] == "facet" %>
      <li><%= link_to t('blacklight.search.facets.more'), catalog_facet_path(params.merge(id: solr_field))%></li>
      <!--how it should be-->
      <!--<li><%# link_to t('blacklight.search.facets.more'), catalog_facet_path(params.merge(id: solr_field)), :data => {:ajax_modal => "trigger"}%></li>-->

  <% end %>
</ul>