<% # content for the popup for a point or bbox feature - run a new coordinate search for this location -%>
<h5 class="geo_popup_heading">
  <%= coordinates.length == 2 ? coordinates.reverse : coordinates %><br/>
  <%= content_tag(:small, pluralize(hits, t('blacklight.maps.interactions.item'))) if hits %>
</h5>
<%= render_spatial_search_link(coordinates) %>
