<% if generic_file.audio? %>
    <% surrogate = surrogate_url(document.id, generic_file.id, "mp3") %>
    <% download_params = {:path => surrogate, :type => generic_file[:mime_type], :name => "#{document.id}.mp3"} %>

<% elsif generic_file.video? %>
    <% surrogate = surrogate_url(document.id, generic_file.id, "mp4") %>
    <% download_params = {:path => surrogate, :type => generic_file[:mime_type], :name => "#{document.id}.mp4"} %>

<% elsif generic_file.pdf? %>
    <% surrogate = surrogate_url(document.id, generic_file.id, "pdf") %>
    <% download_params = {:path => surrogate, :type => generic_file[:mime_type], :name => "#{document.id}.pdf"} %>

<% elsif generic_file.image? %>
    <% surrogate = surrogate_url(document.id, generic_file.id, "full_size_web_format") %>
    <% download_params = {:path => surrogate, :type => generic_file[:mime_type], :name => "#{document.id}.jpg"} %>
<% end %>
<% converted_file_size = convert_file_size(generic_file[:file_size].first.to_f) %>

<div class="carousel-caption">
  <p>
    <% if surrogate.nil? %>
        <%= "#{t('dri.views.catalog.links.asset')} #{index} #{t('dri.views.catalog.links.download_not_available')}" %>
    <% else %>
        <%= link_to "#{t('dri.views.catalog.links.download')} #{index}", download_surrogate_path(download_params), :id => "download_asset" %>
    <% end %>
    <% if can? :read_master, @document %>
         - <%= link_to "#{t('dri.views.catalog.links.download_master')} (#{converted_file_size[:size]} #{converted_file_size[:unit]})",
                       file_download_path(@document, generic_file.id), :id => "download_master_asset" %>
    <% end %>
  </p>
</div>