<div class="dri_asset_holder">

  <% if generic_file.audio? %>
      <% surrogate = surrogate_url(document.id, generic_file.id, "mp3") %>
      <% download_params = {:path => surrogate, :type => generic_file[:mime_type], :name => "#{document.id}.mp3"} %>

  <% elsif generic_file.video? %>
      <% surrogate = surrogate_url(document.id, generic_file.id, "mp4") %>
      <% download_params = {:path => surrogate, :type => generic_file[:mime_type], :name => "#{document.id}.mp4"} %>

  <% elsif generic_file.pdf? %>
      <% surrogate = surrogate_url(document.id, generic_file.id, "pdf") %>
      <% download_params = {:path => surrogate, :type => generic_file[:mime_type], :name => "#{document.id}.pdf"} %>

  <% elsif generic_file.image? %>
      <% surrogate = surrogate_url(document.id, generic_file.id, "full_size_web_format") %>
      <% download_params = {:path => surrogate, :type => generic_file[:mime_type], :name => "#{document.id}.jpg"} %>
  <% end %>

  <% unless surrogate.nil? %>
      <div class="dri_asset_tools">
        <div class="dri_green_button">
          <%= link_to t('dri.views.catalog.links.download'), download_surrogate_path(download_params), :id => "download_asset" %>
        </div>
      </div>
  <% end %>

</div>

