
<% if generic_file.audio? %>
    <% surrogate_type_name = "mp3" %>
<% elsif generic_file.video? %>
    <% surrogate_type_name = "webm" %>
<% elsif generic_file.pdf? %>
    <% surrogate_type_name = "pdf" %>
<% elsif generic_file.text? %>
    <% surrogate_type_name = "rtf" %>
<% elsif generic_file.image? %>
    <% surrogate_type_name = "full_size_web_format" %>
<% end %>

<% surrogate = surrogate_url(document.id, generic_file.id, surrogate_type_name) %>
<div class="carousel-caption">
  <p>
    <% if surrogate.nil? && !((@document.read_master? && can?(:read, @document.id)) || can?(:edit, @document.id)) %>
      <%= t('dri.views.catalog.links.download_not_available', index: index.ordinalize) %>
    <% elsif surrogate.nil? && ((@document.read_master? && can?(:read, @document.id)) || can?(:edit, @document.id)) %>
        <%= link_to "#{t('dri.views.catalog.links.download_master')} (#{generic_file.file_size ? number_to_human_size(generic_file.file_size.to_f) : t('dri.views.catalog.links.unknown_size')})", file_download_path(@document, generic_file.id), id: "download_master_asset" %>
    <% elsif surrogate.present? %>
        <%= link_to t('dri.views.catalog.links.download_nth', :index => index.ordinalize), file_download_path(object_id: document.id, id: generic_file.id, surrogate: surrogate_type_name), id: "download_asset" %>
        <% if (@document.read_master? && can?(:read, @document.id)) || can?(:edit, @document.id) %>
            - <%= link_to "#{t('dri.views.catalog.links.download_master')} (#{generic_file.file_size ? number_to_human_size(generic_file.file_size.to_f) : t('dri.views.catalog.links.unknown_size')})", file_download_path(@document, generic_file.id), id: "download_master_asset" %>
        <% end %>
    <% end %>
  </p>
</div>
