
<% if generic_file.audio? %>
    <% surrogate_type_name = "mp3" %>
<% elsif generic_file.video? %>
    <% surrogate_type_name = "webm" %>
<% elsif generic_file.pdf? %>
    <% surrogate_type_name = "pdf" %>
<% elsif generic_file.text? %>
    <% surrogate_type_name = "rtf" %>
<% elsif generic_file.image? %>
    <% surrogate_type_name = "full_size_web_format" %>
<% end %>

<% surrogate = surrogate_url(document.id, generic_file.id, surrogate_type_name) %>
<div class="carousel-caption">
  <p>

    <% if surrogate.nil? && !((@document.read_master? && can?(:read, @document.id)) || can?(:edit, @document.id)) %>
      <%= t('dri.views.catalog.links.download_not_available', index: index.ordinalize) %>


    <% elsif surrogate && can?(:read, @document.id) || can?(:edit, @document.id) %>
      <%= link_to '#dri_download_modal_id', :'data-toggle' => 'modal', :'data-fileid' => generic_file.id, :id => "configure_download", class: 'configure_download' do %>
          <%= t('dri.views.catalog.links.download') %>
      <% end %>
    <% end %>

  </p>
</div>

<%= render partial: 'shared/download', locals: { generic_file: generic_file } %>
