<% mime_type_list = MIME::Types[generic_file[:mime_type].first] %>
<% file_extension = mime_type_list.first.extensions.first %>

<% if generic_file.audio? %>
    <% surrogate_type_name = "mp3" %>
<% elsif generic_file.video? %>
    <% surrogate_type_name = "mp4" %>
<% elsif generic_file.pdf? %>
    <% surrogate_type_name = "pdf" %>
<% elsif generic_file.image? %>
    <% surrogate_type_name = "full_size_web_format" %>
<% end %>

<% surrogate = surrogate_url(document.id, generic_file.id, surrogate_type_name) %>
<% download_params = {:path => surrogate, :type => generic_file[:mime_type], :name => "#{document.id}.#{file_extension}"} %>
<% converted_file_size = convert_file_size(generic_file[:file_size].first.to_f) %>

<div class="carousel-caption">
  <p>
    <% if surrogate.nil? %>
        <%= "#{t('dri.views.catalog.links.asset')} #{index} #{t('dri.views.catalog.links.download_not_available')}" %>
    <% else %>
        <%= link_to "#{t('dri.views.catalog.links.download')} #{index}", download_surrogate_path(download_params), :id => "download_asset" %>
    <% end %>
    <% if can? :read_master, @document %>
        - <%= link_to "#{t('dri.views.catalog.links.download_master')} (#{converted_file_size[:size]} #{converted_file_size[:unit]})",
                      file_download_path(@document, generic_file.id), :id => "download_master_asset" %>
    <% end %>
  </p>
</div>