


<% if @previous_document || @next_document %>
	
  <ul id="dri_pagination_nav_id" class="dri_doc_pagination">
  	<li class="dri_pagination_label">Browse</li>
        <%if @previous_document %>
                <li aria-label="Previous" class="first"><%= link_to_previous_document @previous_document %></li>
        <% end %>
                <li class="position" aria-label="Position"><%= link_back_to_catalog(:label => item_page_entry_info, :'data-toggle' => "tooltip", :'data-placement' => "top", :'title' => "Go back to Search") %></li>
        <%if @next_document %>
                <li aria-label="Previous" class="last"><%= link_to_next_document @next_document %></li>
        <% end %>
  </ul>

<% end %>