<%# Using the DRI Pagination class -%>
<% if @previous_document || @next_document %>	
<ul class="dri_paging"> 	  
  <ul class="paging">
    <li class="">
   &nbsp;<%= link_to_previous_document @previous_document %>&nbsp;
</li>
        <li class="selected">
 &nbsp;<%= item_page_entry_info %>&nbsp; &nbsp; &nbsp; 
</li>
        <li class="">
 &nbsp;<%= link_to_next_document @next_document %>&nbsp;
 
</li>
<% end %>
