<!-- Display Tree Structure, for EAD collection objects only -->
<% children = get_collection_children(@document, 100) %>
<div class="modal fade" id="dri_children_modal_id">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
					&times;
				</button>
				<h4 class="modal-title">Sub-collections</h4>
			</div>
			<% if (!children.blank?) %>
			<div class="modal-body">
				<ul class="dri_child_links">
					<% children.each do |child| -%>

					<%= link_to (child[1])  do %>
					<dd>
						<% if child[2] == 'Item'%>
						<i class="fa fa-file"></i>
						<% else %>
						<i class="fa fa-folder "></i><% end %>&nbsp;<%= child[0] %>&nbsp;( <%= child[2] %> ) 
					</dd>
					<% end %>
					<% end %>
					</ul>
			</div>
			<% end %>
			<div class="modal-footer">

			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->

