<% relationships = get_object_relationships(@document) %>
<% external_rels = get_object_external_relationships(@document) %>

<% if (!relationships.empty? || !external_rels.empty?) %>
  <div class="dri_object_institutes_block">
    <div class="dri_institutes_title">
      <span>Related Materials</span>
    </div>
    <% unless relationships.empty? %>
      <% relationships.each do |key, value| -%>
        <span><%= key %></span>
        <ul class="dri_child_links">
        <% value.each do |item| -%>
	      <li><%= link_to (item[1])  do %>
	        <%= item[0] %></li>
          <% end %>
        <% end %>
        </ul>
      <% end %>
    <% end %>
    <% unless external_rels.empty? %>
      <span>External Links</span>
      <% external_rels.each do |value| -%>
        <%= value %>
      <% end %>
    <% end %>
  </div>
<% end %>
