<h3>Files</h3>
<dl class="dl-horizontal  dl-invert">
  <dt>Metadata: </dt>
  <dd><a href="<%= url_for :controller => 'downloads', :action => 'show_metadata', :id => document.id %>">view</a></dd>
</dl>
