<% children = collection_children(@document, 500) %>

<% if children.present? %>
	<div class="dri_object_institutes_block">
		<div class="dri_institutes_title">
			<span><%= "#{t('dri.views.catalog.headers.sub_collections')} (#{children.total_count})" %></span>
		</div>
		<div id="dri_sub_collection_list">
		  <%= render children %>
	  </div>
		<div class="dri_clearfix dri_float_right dri_related_items" id="subcoll_paginator">
			<%= paginate children, param_name: 'subs_page', remote: true %>
		</div>
	</div>
<% end %>
