<% if children.present? %>
	<div class="dri_section_block" id="collection_children">
		<div class="dri_section_title">
			<span id="dri_sub_collection_page_info">
				<%= "#{t('dri.views.catalog.headers.sub_collections')}" %> <%= page_entries_info children %>
			</span>
		</div>
		<div id="dri_sub_collection_list">
		  <%= render children %>
	  </div>
		<div class="dri_clearfix dri_float_right dri_related_items" id="subcoll_paginator">
			<%= paginate children, theme: 'blacklight', param_name: 'subs_page', remote: true %>
		</div>
	</div>
<% end %>
