

  <% unless has_search_parameters? %>
    <%# if there are no input/search related params, display the "home" partial -%>
    <%= render 'home' %>
  <% else %>

    <% @page_title = t('blacklight.search.title', :application_name => application_name) %>

    <% extra_head_content << render_opensearch_response_metadata.html_safe %>

    <%= render :partial => 'did_you_mean' %>
 			<div id="dri_second_navigation_container_id"
				class="dri_second_navigation_container">
				<!-- facet block -->
				<div class="dri_facet_filters_block" id="sidebar">
					<%= render :partial => 'facets' %>
				</div>
				<!-- close facet block -->
			</div>
			  
			<div id="dri_result_container_id" class="dri_result_container">
      			<%= render_document_index %>
    		</div><!-- close dri_result_container -->
    
  <% end %>
  