<% get_object_type_counts @document %>
<% get_institutes @document %>
<% get_licence @document %>


<% @page_title = t('blacklight.search.show.title', :document_title => document_show_html_title, :application_name => application_name) %>

<% render_link_rel_alternates %>
<div class="dri_object_container" id="object_container">
  <div class="dri_object_title_top"><%= render_field_value(document_heading) %></div>
  <%= render_document_partial @document, :show %>
</div>

<div class="dri_object_institutes_block" id="institutes_block">
  <%= render :partial => 'shared/display_institutes' %>
</div>

