<div id="content" class="span9 show-document">
  <div id="document">
    <div class="document">
      <span><%= @firstdate %></span>
      <span><%= @lastdate %></span>

      <p>See more?</p>
      <span><%= @alldates %></span>

    </div>
  </div>
</div>
