<% content_for(:head) do %>
  <script src="<%= cf_turnstile_js_url %>" async defer></script>
  <meta name="robots" content="noindex">
<% end %>


<h1 class="brand-alt-h1 mb-4">Traffic control and bot detection...</h2>

<div
  class="cf-turnstile"
  data-sitekey="<%= cf_turnstile_sitekey %>"
  data-callback="turnstileCallback"
></div>

<noscript>
  <div class="alert alert-danger">Sorry, Javascript is required to be enabled for our traffic check, and does not appear available.</div>
</noscript>

<p>We strive to make our content freely available. If this check is preventing you from making use of our resources, make sure you have cookies enabled. If you still have trouble, please <a href="mailto:dri@ria.ie">get in touch</a>.</p>

<script type="text/javascript">
  async function turnstileCallback(token) {
    try {
      // I don't know if we should be disabling CSRF for this one, but we'll just use it
      const csrfToken = document.querySelector("[name='csrf-token']");

      const response = await fetch('<%= bot_detect_challenge_path %>', {
        method: 'POST',
        headers: {
          "X-CSRF-Token": csrfToken?.content,
          "Content-Type": "application/json"
        },
        body: JSON.stringify({ cf_turnstile_response: token }),
      });

      if (!response.ok) {
        throw new Error('bad response: ' + response.status + ": " + response.url);
      }

      result = await response.json();
      if (result["success"] == true) {
        const dest = new URLSearchParams(window.location.search).get("dest");
        // For security make sure it only has path and on
        if (!dest.startsWith("/") || dest.startsWith("//")) {
          throw new Error("illegal non-local redirect: " + dest);
        }
        // replace the challenge page in history
        window.location.replace(dest);
      } else {
        console.error("Turnstile response reported as failure: " + JSON.stringify(result))
        _displayChallengeError();
      }
    } catch(error) {
      console.error("Error processing turnstile challenge backend action: " + error);
      _displayChallengeError();
    }
  }

  function _displayChallengeError() {
    document.querySelector(".cf-turnstile").outerHTML = `
      <div class="alert alert-danger" role="alert">
        <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
        Check failed. Sorry, something has gone wrong, or your traffic looks unusual to us. You can try refreshing this page to try again.
      </div>
    `;
  }
</script>
