@import 'bootstrap';
@import 'bootstrap-responsive';

@import 'blacklight/blacklight';

#documents .documentFunctions
{
        float:right;
  margin: 10px 0;

  .bookmark_toggle
  {
    display:inline;
  }

}
