.navbar .brand {
  width: 150px;
  background: transparent url(/assets/dri/dri-logo.png) no-repeat top left;
  display: inline-block;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  padding-right: 0;
  margin-right: 20px;
  padding-left: 0;
}

.nav {
  font-size: 14px;
  font-weight: bold;
}
