.navbar .brand {
  width: 150px;
  background: transparent url(/assets/dri/dri-logo.png) no-repeat top left;
  display: inline-block;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  padding-right: 0;
  margin-right: 20px;
  padding-left: 0;
}

.nav {
  font-size: 14px;
  font-weight: bold;
}

html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by it's height */
  margin: 0 auto -60px;
}

/* Set the fixed height of the footer here */
#push,
#footer {
  height: 60px;
}
#footer {
  background-color: #f5f5f5;
}

/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
  #footer {
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

.inline{
  display:inline;
}

.access_control_label
{
width: 4em;
float: left;
text-align: right;
margin-right: 0.5em;
display: block
}
