<h2>Select object type</h2>

<%= form_tag :action=>"create", :method=>"post" do %>

    <%= select_tag "type", options_for_select(@supported_types), :prompt => "Select type" %>

    <%= submit_tag "Continue", :class => "btn-primary btn-large", :id => "continue" %>

<% end %>
