<div id="dri_login_form_container_id" class="dri_login_form_container">

	<div id="dri_login_form_block_id" class="dri_login_form_block">
		<h3><%= t('blacklight.tools.cite') %></h3>

		<%= render :partial => 'citation' -%>
	</div>

</div>