<div id="content" class="span9 show-document">
  <div id="document">
    <div class="document">
      <h2>Edit Audio</h2>

        <%= render :partial => "form_#{get_partial_name(@document_fedora)}", :document_fedora  => @document_fedora %>

   </div>
  </div>
</div>

<div id="sidebar" class="span3">
<div class="well" id="sidebar-nav">
  <ul class="nav nav-list">
  <li class="nav-header">Edit Tools</li>
    <%= link_to "View record", url_for(:controller => "catalog", :action => "show", :id => @document_fedora.id), :id => "view_record" %>
  </ul>
</div><!--/well -->
</div>
<!--/span -->
