<div id="content" class="span9 show-document">
  <div id="document">
    <div class="document">
      <h4><%= t('dri.views.objects.edit.title') %></h4>
        <%= render :partial => "form_batch", object: @object %>
    </div>
  </div>
</div>
