<div class="dri_ingest_form_container">
  <% unless params[:is_sub_collection] == 'true' %>
    <h1><%= t('dri.views.ingest.forms.title') %></h1>
  <% else %>
    <h1><%= t('dri.views.ingest.forms.sub_collection') %></h1>
  <% end %>
  <div class="dri_ingest_form">
    <% method = params[:method] == "upload" ? "upload" : "form" %>
    <%= render "new_#{method}" %>
  </div>
</div>
