<div id="dri_login_form_container_id" class="dri_login_form_container">
  <div id="dri_login_form_block_id" class="dri_login_form_block">
    <h3><%= t('dri.views.catalog.links.status_update') %></h3>
      <%= render :partial => 'update_status' -%>
  </div>
</div>
