<form accept-charset="UTF-8" action="/objects/<%= @audio.pid %>/upload" class="step" method="post" enctype="multipart/form-data">
<input type="file" id="Filedata" name="Filedata" />
<input id="num_files_new_asset" name="new_asset" type="hidden" value="true" />
<input id="file_assets_id" name="id" type="hidden" value="<%= @audio.pid %>" />
<input name="continue" type="submit" value="Save" />
</form> 
