<!-- system messages container -->

<div id="dri_messages_container_id" class="dri_messages_container">
  <% [:success, :notice, :error, :alert].each do |type| %>
    <%- alert_class = type %>
    <% if flash[type] %>
	<div class="dri_<%=alert_class%>_message">
		<h1><%= flash[type] %></h1>
		<a class="dri_close_message dri_float_right" data-dismiss="alert" href="#">&times;</a>
	</div>
	    <% end %>
  <% end %>
</div>

<!-- close dri_messages_container -->